<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-6" style="padding-bottom: 10px;">
        <span class="font-weight-bold">Designed by:</span> Cameron DeMille, Michael Leonffu, and Ryan Nemiroff
        <br>
        <span class="font-weight-bold">Contributors:</span> Isaiah Felix-chan, Steve Ng, Brad Stukas, Alex Dong, <br> Team 8097 Botcats, Team 9261 Level Up, and Team 10809 Crow Force 5
        <br>
        Special Thanks to <a href="https://theorangealliance.org/home">The Orange Alliance</a>
			</div>
			<div class="col-md-3">
			</div>
			<div class="col-md-3 text-center">
        <a href="https://github.com/JuicyData"><img src="../../assets/github.png" alt="github logo"></a>
        <br>
				© Juicy Data 2018 v1.0-beta
			</div>
		</div>
	</div>
</div>
