<div class="header">
  <div class="container">
    <h1>San Diego FTC Region Events</h1>
    <!-- <h2>Listing of events, leagues, and teams in the San Diego FTC Region</h2> -->
  </div>
</div>
<div class="region-page">
  <div class="container">
    <div class="events">
      <h2>Week 4 League Championships</h2>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="event-card">
            <a [routerLink]="['/events/sdftc_1819_gauss_championship']">
              <div class="event-content">
                <h3>Guass - <span class="sub-title">The Grauer School</span></h3>
                <div class="row no-gutters">
                  <div class="col-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-calendar-date">
                      <path class="primary" d="M5 4h14a2 2 0 0 1 2 2v13a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V6c0-1.1.9-2 2-2zm0 5v10h14V9H5z" />
                      <path class="secondary" d="M13 13h3v3h-3v-3zM7 2a1 1 0 0 1 1 1v3a1 1 0 1 1-2 0V3a1 1 0 0 1 1-1zm10 0a1 1 0 0 1 1 1v3a1 1 0 0 1-2 0V3a1 1 0 0 1 1-1z" />
                    </svg>
                  </div>
                  <div class="col-11"><div class="event-details">Saturday, February 9th, 2019</div></div>
                </div>
                <div class="row no-gutters">
                  <div class="col-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-location-pin">
                      <path class="primary" d="M5.64 16.36a9 9 0 1 1 12.72 0l-5.65 5.66a1 1 0 0 1-1.42 0l-5.65-5.66zM12 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                      <path class="secondary" d="M12 1a9 9 0 0 1 6.36 15.36l-5.65 5.66a1 1 0 0 1-.71.3V13a3 3 0 0 0 0-6V1z" />
                    </svg>
                  </div>
                  <div class="col-11"><div class="event-details event-address">1500 S El Camino Real, Encinitas, CA 92024</div></div>
                </div>
              </div>
              <div class="event-link">
                View Event
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-external-window">
                  <path class="primary" d="M12 8a1 1 0 0 1-1 1H5v10h10v-6a1 1 0 0 1 2 0v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V9c0-1.1.9-2 2-2h6a1 1 0 0 1 1 1z" />
                  <path class="secondary" d="M19 6.41L8.7 16.71a1 1 0 1 1-1.4-1.42L17.58 5H14a1 1 0 0 1 0-2h6a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0V6.41z" />
                </svg>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="event-card">
            <a [routerLink]="['/events/sdftc_1819_ptolemy_championship']">
              <div class="event-content">
                <h3>Ptolemy - <span class="sub-title">SET High</span></h3>
                <div class="row no-gutters">
                  <div class="col-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-calendar-date">
                      <path class="primary" d="M5 4h14a2 2 0 0 1 2 2v13a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V6c0-1.1.9-2 2-2zm0 5v10h14V9H5z" />
                      <path class="secondary" d="M13 13h3v3h-3v-3zM7 2a1 1 0 0 1 1 1v3a1 1 0 1 1-2 0V3a1 1 0 0 1 1-1zm10 0a1 1 0 0 1 1 1v3a1 1 0 0 1-2 0V3a1 1 0 0 1 1-1z" />
                    </svg>
                  </div>
                  <div class="col-11"><div class="event-details">Saturday, February 9th, 2019</div></div>
                </div>
                <div class="row no-gutters">
                  <div class="col-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-location-pin">
                      <path class="primary" d="M5.64 16.36a9 9 0 1 1 12.72 0l-5.65 5.66a1 1 0 0 1-1.42 0l-5.65-5.66zM12 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                      <path class="secondary" d="M12 1a9 9 0 0 1 6.36 15.36l-5.65 5.66a1 1 0 0 1-.71.3V13a3 3 0 0 0 0-6V1z" />
                    </svg>
                  </div>
                  <div class="col-11"><div class="event-details event-address">3540 Aero Ct, San Diego, CA 92123</div></div>
                </div>
              </div>
              <div class="event-link">
                View Event
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-external-window">
                  <path class="primary" d="M12 8a1 1 0 0 1-1 1H5v10h10v-6a1 1 0 0 1 2 0v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V9c0-1.1.9-2 2-2h6a1 1 0 0 1 1 1z" />
                  <path class="secondary" d="M19 6.41L8.7 16.71a1 1 0 1 1-1.4-1.42L17.58 5H14a1 1 0 0 1 0-2h6a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0V6.41z" />
                </svg>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="event-card">
            <a [routerLink]="['/events/sdftc_1819_euclid_championship']">
              <div class="event-content">
                <h3>Euclid - <span class="sub-title">Sage Creek High School</span></h3>
                <div class="row no-gutters">
                  <div class="col-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-calendar-date">
                      <path class="primary" d="M5 4h14a2 2 0 0 1 2 2v13a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V6c0-1.1.9-2 2-2zm0 5v10h14V9H5z" />
                      <path class="secondary" d="M13 13h3v3h-3v-3zM7 2a1 1 0 0 1 1 1v3a1 1 0 1 1-2 0V3a1 1 0 0 1 1-1zm10 0a1 1 0 0 1 1 1v3a1 1 0 0 1-2 0V3a1 1 0 0 1 1-1z" />
                    </svg>
                  </div>
                  <div class="col-11"><div class="event-details">Saturday, February 9th, 2019</div></div>
                </div>
                <div class="row no-gutters">
                  <div class="col-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-location-pin">
                      <path class="primary" d="M5.64 16.36a9 9 0 1 1 12.72 0l-5.65 5.66a1 1 0 0 1-1.42 0l-5.65-5.66zM12 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                      <path class="secondary" d="M12 1a9 9 0 0 1 6.36 15.36l-5.65 5.66a1 1 0 0 1-.71.3V13a3 3 0 0 0 0-6V1z" />
                    </svg>
                  </div>
                  <div class="col-11"><div class="event-details event-address">3900 Cannon Rd, Carlsbad, CA 92010</div></div>
                </div>
              </div>
              <div class="event-link">
                View Event
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-external-window">
                  <path class="primary" d="M12 8a1 1 0 0 1-1 1H5v10h10v-6a1 1 0 0 1 2 0v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V9c0-1.1.9-2 2-2h6a1 1 0 0 1 1 1z" />
                  <path class="secondary" d="M19 6.41L8.7 16.71a1 1 0 1 1-1.4-1.42L17.58 5H14a1 1 0 0 1 0-2h6a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0V6.41z" />
                </svg>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="event-card">
            <a [routerLink]="['/events/sdftc_1819_descartes_championship']">
              <div class="event-content">
                <h3>Descartes - <span class="sub-title">San Diego Jewish Academy</span></h3>
                <div class="row no-gutters">
                  <div class="col-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-calendar-date">
                      <path class="primary" d="M5 4h14a2 2 0 0 1 2 2v13a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V6c0-1.1.9-2 2-2zm0 5v10h14V9H5z" />
                      <path class="secondary" d="M13 13h3v3h-3v-3zM7 2a1 1 0 0 1 1 1v3a1 1 0 1 1-2 0V3a1 1 0 0 1 1-1zm10 0a1 1 0 0 1 1 1v3a1 1 0 0 1-2 0V3a1 1 0 0 1 1-1z" />
                    </svg>
                  </div>
                  <div class="col-11"><div class="event-details">Sunday, February 10th, 2019</div></div>
                </div>
                <div class="row no-gutters">
                  <div class="col-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-location-pin">
                      <path class="primary" d="M5.64 16.36a9 9 0 1 1 12.72 0l-5.65 5.66a1 1 0 0 1-1.42 0l-5.65-5.66zM12 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                      <path class="secondary" d="M12 1a9 9 0 0 1 6.36 15.36l-5.65 5.66a1 1 0 0 1-.71.3V13a3 3 0 0 0 0-6V1z" />
                    </svg>
                  </div>
                  <div class="col-11"><div class="event-details event-address">11860 Carmel Creek Rd, San Diego, CA 92130</div></div>
                </div>
              </div>
              <div class="event-link">
                View Event
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-external-window">
                  <path class="primary" d="M12 8a1 1 0 0 1-1 1H5v10h10v-6a1 1 0 0 1 2 0v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V9c0-1.1.9-2 2-2h6a1 1 0 0 1 1 1z" />
                  <path class="secondary" d="M19 6.41L8.7 16.71a1 1 0 1 1-1.4-1.42L17.58 5H14a1 1 0 0 1 0-2h6a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0V6.41z" />
                </svg>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="event-card">
            <a [routerLink]="['/events/sdftc_1819_turing_championship']">
              <div class="event-content">
                <h3>Turing - <span class="sub-title">San Diego Jewish Academy</span></h3>
                <div class="row no-gutters">
                  <div class="col-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-calendar-date">
                      <path class="primary" d="M5 4h14a2 2 0 0 1 2 2v13a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V6c0-1.1.9-2 2-2zm0 5v10h14V9H5z" />
                      <path class="secondary" d="M13 13h3v3h-3v-3zM7 2a1 1 0 0 1 1 1v3a1 1 0 1 1-2 0V3a1 1 0 0 1 1-1zm10 0a1 1 0 0 1 1 1v3a1 1 0 0 1-2 0V3a1 1 0 0 1 1-1z" />
                    </svg>
                  </div>
                  <div class="col-11"><div class="event-details">Sunday, February 10th, 2019</div></div>
                </div>
                <div class="row no-gutters">
                  <div class="col-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-location-pin">
                      <path class="primary" d="M5.64 16.36a9 9 0 1 1 12.72 0l-5.65 5.66a1 1 0 0 1-1.42 0l-5.65-5.66zM12 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                      <path class="secondary" d="M12 1a9 9 0 0 1 6.36 15.36l-5.65 5.66a1 1 0 0 1-.71.3V13a3 3 0 0 0 0-6V1z" />
                    </svg>
                  </div>
                  <div class="col-11"><div class="event-details event-address">11860 Carmel Creek Rd, San Diego, CA 92130</div></div>
                </div>
              </div>
              <div class="event-link">
                View Event
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-external-window">
                  <path class="primary" d="M12 8a1 1 0 0 1-1 1H5v10h10v-6a1 1 0 0 1 2 0v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V9c0-1.1.9-2 2-2h6a1 1 0 0 1 1 1z" />
                  <path class="secondary" d="M19 6.41L8.7 16.71a1 1 0 1 1-1.4-1.42L17.58 5H14a1 1 0 0 1 0-2h6a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0V6.41z" />
                </svg>
              </div>
            </a>
          </div>
        </div>
      </div>
      <h2>Week 3 Interleague Meets</h2>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="event-card">
            <a [routerLink]="['/events/sdftc_1819_interleague_w3_classical_academy_online']">
              <div class="event-content">
                <h3>Classical Academy Online</h3>
                <div class="row no-gutters">
                  <div class="col-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-calendar-date">
                      <path class="primary" d="M5 4h14a2 2 0 0 1 2 2v13a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V6c0-1.1.9-2 2-2zm0 5v10h14V9H5z" />
                      <path class="secondary" d="M13 13h3v3h-3v-3zM7 2a1 1 0 0 1 1 1v3a1 1 0 1 1-2 0V3a1 1 0 0 1 1-1zm10 0a1 1 0 0 1 1 1v3a1 1 0 0 1-2 0V3a1 1 0 0 1 1-1z" />
                    </svg>
                  </div>
                  <div class="col-11"><div class="event-details">Saturday, January 26th, 2019</div></div>
                </div>
                <div class="row no-gutters">
                  <div class="col-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-location-pin">
                      <path class="primary" d="M5.64 16.36a9 9 0 1 1 12.72 0l-5.65 5.66a1 1 0 0 1-1.42 0l-5.65-5.66zM12 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                      <path class="secondary" d="M12 1a9 9 0 0 1 6.36 15.36l-5.65 5.66a1 1 0 0 1-.71.3V13a3 3 0 0 0 0-6V1z" />
                    </svg>
                  </div>
                  <div class="col-11"><div class="event-details event-address">130 Woodward Ave, Escondido, CA 92025</div></div>
                </div>
              </div>
              <div class="event-link">
                View Event
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-external-window">
                  <path class="primary" d="M12 8a1 1 0 0 1-1 1H5v10h10v-6a1 1 0 0 1 2 0v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V9c0-1.1.9-2 2-2h6a1 1 0 0 1 1 1z" />
                  <path class="secondary" d="M19 6.41L8.7 16.71a1 1 0 1 1-1.4-1.42L17.58 5H14a1 1 0 0 1 0-2h6a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0V6.41z" />
                </svg>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="event-card">
            <a [routerLink]="['/events/sdftc_1819_interleague_w3_set_high']">
              <div class="event-content">
                <h3>SET High</h3>
                <div class="row no-gutters">
                  <div class="col-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-calendar-date">
                      <path class="primary" d="M5 4h14a2 2 0 0 1 2 2v13a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V6c0-1.1.9-2 2-2zm0 5v10h14V9H5z" />
                      <path class="secondary" d="M13 13h3v3h-3v-3zM7 2a1 1 0 0 1 1 1v3a1 1 0 1 1-2 0V3a1 1 0 0 1 1-1zm10 0a1 1 0 0 1 1 1v3a1 1 0 0 1-2 0V3a1 1 0 0 1 1-1z" />
                    </svg>
                  </div>
                  <div class="col-11"><div class="event-details">Saturday, January 26th, 2019</div></div>
                </div>
                <div class="row no-gutters">
                  <div class="col-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-location-pin">
                      <path class="primary" d="M5.64 16.36a9 9 0 1 1 12.72 0l-5.65 5.66a1 1 0 0 1-1.42 0l-5.65-5.66zM12 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                      <path class="secondary" d="M12 1a9 9 0 0 1 6.36 15.36l-5.65 5.66a1 1 0 0 1-.71.3V13a3 3 0 0 0 0-6V1z" />
                    </svg>
                  </div>
                  <div class="col-11"><div class="event-details event-address">3540 Aero Ct, San Diego, CA 92123</div></div>
                </div>
              </div>
              <div class="event-link">
                View Event
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-external-window">
                  <path class="primary" d="M12 8a1 1 0 0 1-1 1H5v10h10v-6a1 1 0 0 1 2 0v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V9c0-1.1.9-2 2-2h6a1 1 0 0 1 1 1z" />
                  <path class="secondary" d="M19 6.41L8.7 16.71a1 1 0 1 1-1.4-1.42L17.58 5H14a1 1 0 0 1 0-2h6a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0V6.41z" />
                </svg>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="event-card">
            <a [routerLink]="['/events/sdftc_1819_interleague_w3_sage_creek_high_school']">
              <div class="event-content">
                <h3>Sage Creek High School</h3>
                <div class="row no-gutters">
                  <div class="col-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-calendar-date">
                      <path class="primary" d="M5 4h14a2 2 0 0 1 2 2v13a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V6c0-1.1.9-2 2-2zm0 5v10h14V9H5z" />
                      <path class="secondary" d="M13 13h3v3h-3v-3zM7 2a1 1 0 0 1 1 1v3a1 1 0 1 1-2 0V3a1 1 0 0 1 1-1zm10 0a1 1 0 0 1 1 1v3a1 1 0 0 1-2 0V3a1 1 0 0 1 1-1z" />
                    </svg>
                  </div>
                  <div class="col-11"><div class="event-details">Saturday, January 26th, 2019</div></div>
                </div>
                <div class="row no-gutters">
                  <div class="col-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-location-pin">
                      <path class="primary" d="M5.64 16.36a9 9 0 1 1 12.72 0l-5.65 5.66a1 1 0 0 1-1.42 0l-5.65-5.66zM12 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                      <path class="secondary" d="M12 1a9 9 0 0 1 6.36 15.36l-5.65 5.66a1 1 0 0 1-.71.3V13a3 3 0 0 0 0-6V1z" />
                    </svg>
                  </div>
                  <div class="col-11"><div class="event-details event-address">3900 Cannon Rd, Carlsbad, CA 92010</div></div>
                </div>
              </div>
              <div class="event-link">
                View Event
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-external-window">
                  <path class="primary" d="M12 8a1 1 0 0 1-1 1H5v10h10v-6a1 1 0 0 1 2 0v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V9c0-1.1.9-2 2-2h6a1 1 0 0 1 1 1z" />
                  <path class="secondary" d="M19 6.41L8.7 16.71a1 1 0 1 1-1.4-1.42L17.58 5H14a1 1 0 0 1 0-2h6a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0V6.41z" />
                </svg>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="event-card">
            <a [routerLink]="['/events/sdftc_1819_interleague_w3_the_grauer_school']">
              <div class="event-content">
                <h3>The Grauer School</h3>
                <div class="row no-gutters">
                  <div class="col-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-calendar-date">
                      <path class="primary" d="M5 4h14a2 2 0 0 1 2 2v13a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V6c0-1.1.9-2 2-2zm0 5v10h14V9H5z" />
                      <path class="secondary" d="M13 13h3v3h-3v-3zM7 2a1 1 0 0 1 1 1v3a1 1 0 1 1-2 0V3a1 1 0 0 1 1-1zm10 0a1 1 0 0 1 1 1v3a1 1 0 0 1-2 0V3a1 1 0 0 1 1-1z" />
                    </svg>
                  </div>
                  <div class="col-11"><div class="event-details">Saturday, January 26th, 2019</div></div>
                </div>
                <div class="row no-gutters">
                  <div class="col-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-location-pin">
                      <path class="primary" d="M5.64 16.36a9 9 0 1 1 12.72 0l-5.65 5.66a1 1 0 0 1-1.42 0l-5.65-5.66zM12 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                      <path class="secondary" d="M12 1a9 9 0 0 1 6.36 15.36l-5.65 5.66a1 1 0 0 1-.71.3V13a3 3 0 0 0 0-6V1z" />
                    </svg>
                  </div>
                  <div class="col-11"><div class="event-details event-address">1500 S El Camino Real, Encinitas, CA 92024</div></div>
                </div>
              </div>
              <div class="event-link">
                View Event
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-external-window">
                  <path class="primary" d="M12 8a1 1 0 0 1-1 1H5v10h10v-6a1 1 0 0 1 2 0v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V9c0-1.1.9-2 2-2h6a1 1 0 0 1 1 1z" />
                  <path class="secondary" d="M19 6.41L8.7 16.71a1 1 0 1 1-1.4-1.42L17.58 5H14a1 1 0 0 1 0-2h6a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0V6.41z" />
                </svg>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="event-card">
            <a [routerLink]="['/events/sdftc_1819_interleague_w3_mater_dei_catholic_high_school']">
              <div class="event-content">
                <h3>Mater Dei Catholic High School</h3>
                <div class="row no-gutters">
                  <div class="col-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-calendar-date">
                      <path class="primary" d="M5 4h14a2 2 0 0 1 2 2v13a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V6c0-1.1.9-2 2-2zm0 5v10h14V9H5z" />
                      <path class="secondary" d="M13 13h3v3h-3v-3zM7 2a1 1 0 0 1 1 1v3a1 1 0 1 1-2 0V3a1 1 0 0 1 1-1zm10 0a1 1 0 0 1 1 1v3a1 1 0 0 1-2 0V3a1 1 0 0 1 1-1z" />
                    </svg>
                  </div>
                  <div class="col-11"><div class="event-details">Saturday, January 27th, 2019</div></div>
                </div>
                <div class="row no-gutters">
                  <div class="col-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-location-pin">
                      <path class="primary" d="M5.64 16.36a9 9 0 1 1 12.72 0l-5.65 5.66a1 1 0 0 1-1.42 0l-5.65-5.66zM12 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                      <path class="secondary" d="M12 1a9 9 0 0 1 6.36 15.36l-5.65 5.66a1 1 0 0 1-.71.3V13a3 3 0 0 0 0-6V1z" />
                    </svg>
                  </div>
                  <div class="col-11"><div class="event-details event-address">1615 Mater Dei Dr, Chula Vista, CA 91913</div></div>
                </div>
              </div>
              <div class="event-link">
                View Event
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-external-window">
                  <path class="primary" d="M12 8a1 1 0 0 1-1 1H5v10h10v-6a1 1 0 0 1 2 0v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V9c0-1.1.9-2 2-2h6a1 1 0 0 1 1 1z" />
                  <path class="secondary" d="M19 6.41L8.7 16.71a1 1 0 1 1-1.4-1.42L17.58 5H14a1 1 0 0 1 0-2h6a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0V6.41z" />
                </svg>
              </div>
            </a>
          </div>
        </div>
      </div>
      <h2>Week 2 Interleague Meets</h2>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="event-card">
            <a [routerLink]="['/events/sdftc_1819_interleague_w2_r_roger_rowe']">
              <div class="event-content">
                <h3>R. Roger Rowe School</h3>
                <div class="row no-gutters">
                  <div class="col-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-calendar-date">
                      <path class="primary" d="M5 4h14a2 2 0 0 1 2 2v13a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V6c0-1.1.9-2 2-2zm0 5v10h14V9H5z" />
                      <path class="secondary" d="M13 13h3v3h-3v-3zM7 2a1 1 0 0 1 1 1v3a1 1 0 1 1-2 0V3a1 1 0 0 1 1-1zm10 0a1 1 0 0 1 1 1v3a1 1 0 0 1-2 0V3a1 1 0 0 1 1-1z" />
                    </svg>
                  </div>
                  <div class="col-11"><div class="event-details">Saturday, January 12th, 2019</div></div>
                </div>
                <div class="row no-gutters">
                  <div class="col-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-location-pin">
                      <path class="primary" d="M5.64 16.36a9 9 0 1 1 12.72 0l-5.65 5.66a1 1 0 0 1-1.42 0l-5.65-5.66zM12 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                      <path class="secondary" d="M12 1a9 9 0 0 1 6.36 15.36l-5.65 5.66a1 1 0 0 1-.71.3V13a3 3 0 0 0 0-6V1z" />
                    </svg>
                  </div>
                  <div class="col-11"><div class="event-details event-address">5927 La Granada, Rancho Santa Fe, CA 92067</div></div>
                </div>
              </div>
              <div class="event-link">
                View Event
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-external-window">
                  <path class="primary" d="M12 8a1 1 0 0 1-1 1H5v10h10v-6a1 1 0 0 1 2 0v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V9c0-1.1.9-2 2-2h6a1 1 0 0 1 1 1z" />
                  <path class="secondary" d="M19 6.41L8.7 16.71a1 1 0 1 1-1.4-1.42L17.58 5H14a1 1 0 0 1 0-2h6a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0V6.41z" />
                </svg>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="event-card">
            <a [routerLink]="['/events/sdftc_1819_interleague_w2_francis_parker']">
              <div class="event-content">
                <h3>Francis Parker High School</h3>
                <div class="row no-gutters">
                  <div class="col-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-calendar-date">
                      <path class="primary" d="M5 4h14a2 2 0 0 1 2 2v13a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V6c0-1.1.9-2 2-2zm0 5v10h14V9H5z" />
                      <path class="secondary" d="M13 13h3v3h-3v-3zM7 2a1 1 0 0 1 1 1v3a1 1 0 1 1-2 0V3a1 1 0 0 1 1-1zm10 0a1 1 0 0 1 1 1v3a1 1 0 0 1-2 0V3a1 1 0 0 1 1-1z" />
                    </svg>
                  </div>
                  <div class="col-11"><div class="event-details">Saturday, January 12th, 2019</div></div>
                </div>
                <div class="row no-gutters">
                  <div class="col-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-location-pin">
                      <path class="primary" d="M5.64 16.36a9 9 0 1 1 12.72 0l-5.65 5.66a1 1 0 0 1-1.42 0l-5.65-5.66zM12 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                      <path class="secondary" d="M12 1a9 9 0 0 1 6.36 15.36l-5.65 5.66a1 1 0 0 1-.71.3V13a3 3 0 0 0 0-6V1z" />
                    </svg>
                  </div>
                  <div class="col-11"><div class="event-details event-address">6501 Linda Vista Rd, San Diego, CA 92111</div></div>
                </div>
              </div>
              <div class="event-link">
                View Event
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-external-window">
                  <path class="primary" d="M12 8a1 1 0 0 1-1 1H5v10h10v-6a1 1 0 0 1 2 0v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V9c0-1.1.9-2 2-2h6a1 1 0 0 1 1 1z" />
                  <path class="secondary" d="M19 6.41L8.7 16.71a1 1 0 1 1-1.4-1.42L17.58 5H14a1 1 0 0 1 0-2h6a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0V6.41z" />
                </svg>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="event-card">
            <a [routerLink]="['/events/sdftc_1819_interleague_w2_la_jolla_country_day']">
              <div class="event-content">
                <h3>La Jolla Country Day School</h3>
                <div class="row no-gutters">
                  <div class="col-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-calendar-date">
                      <path class="primary" d="M5 4h14a2 2 0 0 1 2 2v13a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V6c0-1.1.9-2 2-2zm0 5v10h14V9H5z" />
                      <path class="secondary" d="M13 13h3v3h-3v-3zM7 2a1 1 0 0 1 1 1v3a1 1 0 1 1-2 0V3a1 1 0 0 1 1-1zm10 0a1 1 0 0 1 1 1v3a1 1 0 0 1-2 0V3a1 1 0 0 1 1-1z" />
                    </svg>
                  </div>
                  <div class="col-11"><div class="event-details">Saturday, January 12th, 2019</div></div>
                </div>
                <div class="row no-gutters">
                  <div class="col-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-location-pin">
                      <path class="primary" d="M5.64 16.36a9 9 0 1 1 12.72 0l-5.65 5.66a1 1 0 0 1-1.42 0l-5.65-5.66zM12 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                      <path class="secondary" d="M12 1a9 9 0 0 1 6.36 15.36l-5.65 5.66a1 1 0 0 1-.71.3V13a3 3 0 0 0 0-6V1z" />
                    </svg>
                  </div>
                  <div class="col-11"><div class="event-details event-address">9490 Genesee Ave, La Jolla, CA 92037</div></div>
                </div>
              </div>
              <div class="event-link">
                View Event
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-external-window">
                  <path class="primary" d="M12 8a1 1 0 0 1-1 1H5v10h10v-6a1 1 0 0 1 2 0v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V9c0-1.1.9-2 2-2h6a1 1 0 0 1 1 1z" />
                  <path class="secondary" d="M19 6.41L8.7 16.71a1 1 0 1 1-1.4-1.42L17.58 5H14a1 1 0 0 1 0-2h6a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0V6.41z" />
                </svg>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="event-card">
            <a [routerLink]="['/events/sdftc_1819_interleague_w2_design_39_1']">
              <div class="event-content">
                <h3>Design 39 - 1</h3>
                <div class="row no-gutters">
                  <div class="col-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-calendar-date">
                      <path class="primary" d="M5 4h14a2 2 0 0 1 2 2v13a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V6c0-1.1.9-2 2-2zm0 5v10h14V9H5z" />
                      <path class="secondary" d="M13 13h3v3h-3v-3zM7 2a1 1 0 0 1 1 1v3a1 1 0 1 1-2 0V3a1 1 0 0 1 1-1zm10 0a1 1 0 0 1 1 1v3a1 1 0 0 1-2 0V3a1 1 0 0 1 1-1z" />
                    </svg>
                  </div>
                  <div class="col-11"><div class="event-details">Saturday, January 12th, 2019</div></div>
                </div>
                <div class="row no-gutters">
                  <div class="col-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-location-pin">
                      <path class="primary" d="M5.64 16.36a9 9 0 1 1 12.72 0l-5.65 5.66a1 1 0 0 1-1.42 0l-5.65-5.66zM12 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                      <path class="secondary" d="M12 1a9 9 0 0 1 6.36 15.36l-5.65 5.66a1 1 0 0 1-.71.3V13a3 3 0 0 0 0-6V1z" />
                    </svg>
                  </div>
                  <div class="col-11"><div class="event-details event-address">17050 Del Sur Ridge Rd, San Diego, CA 92127</div></div>
                </div>
              </div>
              <div class="event-link">
                View Event
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-external-window">
                  <path class="primary" d="M12 8a1 1 0 0 1-1 1H5v10h10v-6a1 1 0 0 1 2 0v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V9c0-1.1.9-2 2-2h6a1 1 0 0 1 1 1z" />
                  <path class="secondary" d="M19 6.41L8.7 16.71a1 1 0 1 1-1.4-1.42L17.58 5H14a1 1 0 0 1 0-2h6a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0V6.41z" />
                </svg>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="event-card">
            <a [routerLink]="['/events/sdftc_1819_interleague_w2_design_39_2']">
              <div class="event-content">
                <h3>Design 39 - 2</h3>
                <div class="row no-gutters">
                  <div class="col-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-calendar-date">
                      <path class="primary" d="M5 4h14a2 2 0 0 1 2 2v13a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V6c0-1.1.9-2 2-2zm0 5v10h14V9H5z" />
                      <path class="secondary" d="M13 13h3v3h-3v-3zM7 2a1 1 0 0 1 1 1v3a1 1 0 1 1-2 0V3a1 1 0 0 1 1-1zm10 0a1 1 0 0 1 1 1v3a1 1 0 0 1-2 0V3a1 1 0 0 1 1-1z" />
                    </svg>
                  </div>
                  <div class="col-11"><div class="event-details">Saturday, January 13th, 2019</div></div>
                </div>
                <div class="row no-gutters">
                  <div class="col-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-location-pin">
                      <path class="primary" d="M5.64 16.36a9 9 0 1 1 12.72 0l-5.65 5.66a1 1 0 0 1-1.42 0l-5.65-5.66zM12 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                      <path class="secondary" d="M12 1a9 9 0 0 1 6.36 15.36l-5.65 5.66a1 1 0 0 1-.71.3V13a3 3 0 0 0 0-6V1z" />
                    </svg>
                  </div>
                  <div class="col-11"><div class="event-details event-address">17050 Del Sur Ridge Rd, San Diego, CA 92127</div></div>
                </div>
              </div>
              <div class="event-link">
                View Event
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-external-window">
                  <path class="primary" d="M12 8a1 1 0 0 1-1 1H5v10h10v-6a1 1 0 0 1 2 0v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V9c0-1.1.9-2 2-2h6a1 1 0 0 1 1 1z" />
                  <path class="secondary" d="M19 6.41L8.7 16.71a1 1 0 1 1-1.4-1.42L17.58 5H14a1 1 0 0 1 0-2h6a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0V6.41z" />
                </svg>
              </div>
            </a>
          </div>
        </div>
      </div>
      <h2>Week 1 League Meets</h2>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="event-card">
            <a [routerLink]="['/events/sdftc_1819_gauss_opening']">
              <div class="event-content">
                <h3>Gauss - <span class="sub-title">R. Roger Rowe School</span></h3>
                <div class="row no-gutters">
                  <div class="col-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-calendar-date">
                      <path class="primary" d="M5 4h14a2 2 0 0 1 2 2v13a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V6c0-1.1.9-2 2-2zm0 5v10h14V9H5z" />
                      <path class="secondary" d="M13 13h3v3h-3v-3zM7 2a1 1 0 0 1 1 1v3a1 1 0 1 1-2 0V3a1 1 0 0 1 1-1zm10 0a1 1 0 0 1 1 1v3a1 1 0 0 1-2 0V3a1 1 0 0 1 1-1z" />
                    </svg>
                  </div>
                  <div class="col-11"><div class="event-details">Saturday, December 8th, 2018</div></div>
                </div>
                <div class="row no-gutters">
                  <div class="col-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-location-pin">
                      <path class="primary" d="M5.64 16.36a9 9 0 1 1 12.72 0l-5.65 5.66a1 1 0 0 1-1.42 0l-5.65-5.66zM12 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                      <path class="secondary" d="M12 1a9 9 0 0 1 6.36 15.36l-5.65 5.66a1 1 0 0 1-.71.3V13a3 3 0 0 0 0-6V1z" />
                    </svg>
                  </div>
                  <div class="col-11"><div class="event-details event-address">5927 La Granada, Rancho Santa Fe, CA 92067</div></div>
                </div>
              </div>
              <div class="event-link">
                View Event
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-external-window">
                  <path class="primary" d="M12 8a1 1 0 0 1-1 1H5v10h10v-6a1 1 0 0 1 2 0v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V9c0-1.1.9-2 2-2h6a1 1 0 0 1 1 1z" />
                  <path class="secondary" d="M19 6.41L8.7 16.71a1 1 0 1 1-1.4-1.42L17.58 5H14a1 1 0 0 1 0-2h6a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0V6.41z" />
                </svg>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="event-card">
            <a [routerLink]="['/events/sdftc_1819_ptolemy_opening']">
              <div class="event-content">
                <h3>Ptolemy - <span class="sub-title">Francis Parker High School</span></h3>
                <div class="row no-gutters">
                  <div class="col-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-calendar-date">
                      <path class="primary" d="M5 4h14a2 2 0 0 1 2 2v13a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V6c0-1.1.9-2 2-2zm0 5v10h14V9H5z" />
                      <path class="secondary" d="M13 13h3v3h-3v-3zM7 2a1 1 0 0 1 1 1v3a1 1 0 1 1-2 0V3a1 1 0 0 1 1-1zm10 0a1 1 0 0 1 1 1v3a1 1 0 0 1-2 0V3a1 1 0 0 1 1-1z" />
                    </svg>
                  </div>
                  <div class="col-11"><div class="event-details">Sunday, December 9th, 2018</div></div>
                </div>
                <div class="row no-gutters">
                  <div class="col-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-location-pin">
                      <path class="primary" d="M5.64 16.36a9 9 0 1 1 12.72 0l-5.65 5.66a1 1 0 0 1-1.42 0l-5.65-5.66zM12 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                      <path class="secondary" d="M12 1a9 9 0 0 1 6.36 15.36l-5.65 5.66a1 1 0 0 1-.71.3V13a3 3 0 0 0 0-6V1z" />
                    </svg>
                  </div>
                  <div class="col-11"><div class="event-details event-address">6501 Linda Vista Rd, San Diego, CA 92111</div></div>
                </div>
              </div>
              <div class="event-link">
                View Event
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-external-window">
                  <path class="primary" d="M12 8a1 1 0 0 1-1 1H5v10h10v-6a1 1 0 0 1 2 0v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V9c0-1.1.9-2 2-2h6a1 1 0 0 1 1 1z" />
                  <path class="secondary" d="M19 6.41L8.7 16.71a1 1 0 1 1-1.4-1.42L17.58 5H14a1 1 0 0 1 0-2h6a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0V6.41z" />
                </svg>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="event-card">
            <a [routerLink]="['/events/sdftc_1819_descartes_opening']">
              <div class="event-content">
                <h3>Descartes - <span class="sub-title">San Diego Jewish Academy</span></h3>
                <div class="row no-gutters">
                  <div class="col-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-calendar-date">
                      <path class="primary" d="M5 4h14a2 2 0 0 1 2 2v13a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V6c0-1.1.9-2 2-2zm0 5v10h14V9H5z" />
                      <path class="secondary" d="M13 13h3v3h-3v-3zM7 2a1 1 0 0 1 1 1v3a1 1 0 1 1-2 0V3a1 1 0 0 1 1-1zm10 0a1 1 0 0 1 1 1v3a1 1 0 0 1-2 0V3a1 1 0 0 1 1-1z" />
                    </svg>
                  </div>
                  <div class="col-11"><div class="event-details">Sunday, December 9th, 2019</div></div>
                </div>
                <div class="row no-gutters">
                  <div class="col-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-location-pin">
                      <path class="primary" d="M5.64 16.36a9 9 0 1 1 12.72 0l-5.65 5.66a1 1 0 0 1-1.42 0l-5.65-5.66zM12 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                      <path class="secondary" d="M12 1a9 9 0 0 1 6.36 15.36l-5.65 5.66a1 1 0 0 1-.71.3V13a3 3 0 0 0 0-6V1z" />
                    </svg>
                  </div>
                  <div class="col-11"><div class="event-details event-address">11860 Carmel Creek Rd, San Diego, CA 92130</div></div>
                </div>
              </div>
              <div class="event-link">
                View Event
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-external-window">
                  <path class="primary" d="M12 8a1 1 0 0 1-1 1H5v10h10v-6a1 1 0 0 1 2 0v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V9c0-1.1.9-2 2-2h6a1 1 0 0 1 1 1z" />
                  <path class="secondary" d="M19 6.41L8.7 16.71a1 1 0 1 1-1.4-1.42L17.58 5H14a1 1 0 0 1 0-2h6a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0V6.41z" />
                </svg>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="event-card">
            <a [routerLink]="['/events/sdftc_1819_euclid_opening']">
              <div class="event-content">
                <h3>Euclid - <span class="sub-title">Francis Parker High School</span></h3>
                <div class="row no-gutters">
                  <div class="col-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-calendar-date">
                      <path class="primary" d="M5 4h14a2 2 0 0 1 2 2v13a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V6c0-1.1.9-2 2-2zm0 5v10h14V9H5z" />
                      <path class="secondary" d="M13 13h3v3h-3v-3zM7 2a1 1 0 0 1 1 1v3a1 1 0 1 1-2 0V3a1 1 0 0 1 1-1zm10 0a1 1 0 0 1 1 1v3a1 1 0 0 1-2 0V3a1 1 0 0 1 1-1z" />
                    </svg>
                  </div>
                  <div class="col-11"><div class="event-details">Sunday, December 9th, 2019</div></div>
                </div>
                <div class="row no-gutters">
                  <div class="col-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-location-pin">
                      <path class="primary" d="M5.64 16.36a9 9 0 1 1 12.72 0l-5.65 5.66a1 1 0 0 1-1.42 0l-5.65-5.66zM12 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                      <path class="secondary" d="M12 1a9 9 0 0 1 6.36 15.36l-5.65 5.66a1 1 0 0 1-.71.3V13a3 3 0 0 0 0-6V1z" />
                    </svg>
                  </div>
                  <div class="col-11"><div class="event-details event-address">6501 Linda Vista Rd, San Diego, CA 92111</div></div>
                </div>
              </div>
              <div class="event-link">
                View Event
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-external-window">
                  <path class="primary" d="M12 8a1 1 0 0 1-1 1H5v10h10v-6a1 1 0 0 1 2 0v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V9c0-1.1.9-2 2-2h6a1 1 0 0 1 1 1z" />
                  <path class="secondary" d="M19 6.41L8.7 16.71a1 1 0 1 1-1.4-1.42L17.58 5H14a1 1 0 0 1 0-2h6a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0V6.41z" />
                </svg>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="event-card">
            <a [routerLink]="['/events/sdftc_1819_turing_opening_01']">
              <div class="event-content">
                <h3>Turing - <span class="sub-title">San Diego Jewish Academy</span></h3>
                <div class="row no-gutters">
                  <div class="col-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-calendar-date">
                      <path class="primary" d="M5 4h14a2 2 0 0 1 2 2v13a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V6c0-1.1.9-2 2-2zm0 5v10h14V9H5z" />
                      <path class="secondary" d="M13 13h3v3h-3v-3zM7 2a1 1 0 0 1 1 1v3a1 1 0 1 1-2 0V3a1 1 0 0 1 1-1zm10 0a1 1 0 0 1 1 1v3a1 1 0 0 1-2 0V3a1 1 0 0 1 1-1z" />
                    </svg>
                  </div>
                  <div class="col-11"><div class="event-details">Sunday, December 9th, 2018</div></div>
                </div>
                <div class="row no-gutters">
                  <div class="col-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-location-pin">
                      <path class="primary" d="M5.64 16.36a9 9 0 1 1 12.72 0l-5.65 5.66a1 1 0 0 1-1.42 0l-5.65-5.66zM12 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                      <path class="secondary" d="M12 1a9 9 0 0 1 6.36 15.36l-5.65 5.66a1 1 0 0 1-.71.3V13a3 3 0 0 0 0-6V1z" />
                    </svg>
                  </div>
                  <div class="col-11"><div class="event-details event-address">11860 Carmel Creek Rd, San Diego, CA 92130</div></div>
                </div>
              </div>
              <div class="event-link">
                View Event
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-external-window">
                  <path class="primary" d="M12 8a1 1 0 0 1-1 1H5v10h10v-6a1 1 0 0 1 2 0v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V9c0-1.1.9-2 2-2h6a1 1 0 0 1 1 1z" />
                  <path class="secondary" d="M19 6.41L8.7 16.71a1 1 0 1 1-1.4-1.42L17.58 5H14a1 1 0 0 1 0-2h6a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0V6.41z" />
                </svg>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- <nav class="nav nav-tabs" id="myTab" role="tablist">
      <a class="nav-item nav-link active" data-toggle="tab" [routerLink]="#{{ league._id.leagueName }}" role="tab" *ngFor="let league of leagues; first as first" [ngClass]="{ active: first }">{{ league._id.leagueName }}</a>
    </nav>
    <div class="tab-content">
      <div id="{{ league._id.leagueName }}" class="tab-pane active table-responsive" [ngClass]="{ active: first }" *ngFor="let league of leagues; first as first">
        <div class="row no-gutters">
          <div class="col-4 team-card" *ngFor="let team of league.teams">
            <div class="team-information">
              <img *ngIf="team.logo" class="team-logo" src="../../assets/team-logos/{{ team.logo }}.png" alt="" /> <div>{{ team._id }}</div> <a *ngIf="team.twitter" [routerLink]="{{ team.twitter }}"><i class="fab fa-twitter"></i></a> <a *ngIf="team.facebook" [routerLink]="{{ team.facebook }}"><i class="fab fa-facebook-f"></i></a> <a *ngIf="team.facebook" [routerLink]="{{ team.facebook }}"><i class="fas fa-globe"></i></a> <a *ngIf="team.facebook" [routerLink]="{{ team.facebook }}"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>
