hr {
	position: relative;
	display: block;
	height: 1px;
	max-width: 600px;
	border: 0;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #FFA46B;
	padding: 0;
}
hr2 {
	position: relative;
	display: block;
	height: 1px;
	max-width: 600px;
	border: 0;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: white;
	padding: 0;
}
hr1 {
	display: block;
	height: 1px;
	max-width: 200px;
	border-top: 2px solid #FFA46B;
}
body {
	padding-top: 60px;
	font-family: 'Open Sans', sans-serif;
}
h1 {
	text-align: center;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
}
h2 {
	text-align: center;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
}
h3 {
	text-align: center;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}
h4 {
	text-align: center;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
}
th {
	text-align: center;
}
td {
	text-align: center;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	color: #F9690E;
}
a, a.active, a:hover {
	color: #F9690E;
}
.red {
	background-color: #EC644B;
	color: white;
}
.blue {
	background-color: #4183D7;
	color: white;
}
.green {
	background-color: #26A65B;
	color: white;
}
body {
	font-family: 'Open Sans', sans-serif;
}
html {
	position: relative;
}
html, body {
	height: 100%;
}
.redcircle {
	vertical-align: middle;
	position: absolute;
	display: inline;
	width: 14px;
	height: 14px;
	background-color: #EC644B;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin-top: 3px;
	margin-left: 10px;
}
.bluecircle {
	vertical-align: middle;
	position: absolute;
	display: inline;
	width: 14px;
	height: 14px;
	background: #4183D7;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin-top: 3px;
	margin-left: 10px;
}
.greencircle {
	vertical-align: middle;
	position: absolute;
	margin-left: 10px;
	width: 14px;
	height: 14px;
	background: #26A65B;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin-top: 3px;
}
.key {
	font-size: 11px;
	padding-left: 20px;
	padding-right: 5px;
	position: absolute;
	margin-left: 10px;
}
.table-responsive {
  overflow-x: auto;
}

table.dataTable thead th, table.dataTable thead td {
  padding: 8px 10px;
  border-bottom: 1px solid #111;
  font-size: 14px;
}
