<div class="article-title">
  <div class="container">
    <h1>6 Tips to Improve Your FTC Team’s Engineering Notebook</h1>
    <div class="lead article-information"> <img class="article-author-img rounded-circle" src="../../assets/camerondemille.jpg"
        alt=""> Cameron DeMille | September 8th, 2018</div>
    <img class="img-fluid article-img" src="../../assets/notebook.png" alt="">
  </div>
</div>
<div class="container">
  <div class="post-content">
    <h2>Document everything</h2>
    <p>Documenting everything your team does is essential to improving your notebook. When your team documents
      everything
      it shows your team’s progression through the season. This what the judges like to see when going through your
      notebook.</p>

    <p>Although it is important to document everything, do not sacrifice quality over quantity. </p>

    <p>For example, a team with 10+ members could have as many as 40+ meetings. With that many meetings and people it,
      can
      be hard for a single person to keep up with documentation. Spread the load and have everyone help document what
      they
      did during the meeting. Do not focus on trying to make as many meeting entries as possible. </p>

    <p>Your team needs to be consistent with documentation every meeting, if you fall behind it will show up in the
      quality
      of the documentation.</p>

    <p>Not only should you document everything that goes on in the meetings and outreach events. Everything about your
      robot
      should be documented. Write about the progression of each subassembly of your robot from start to finish. Write
      about
      each and every idea your team had leading up to it and how you improved on it. The documentation should be
      detailed
      enough so that someone can look at your notebook and build an exact copy of your robot.</p>

    <p>If your team has finished building the robot before the competition, do not stop documenting. Additionally, if
      you
      are competing in multiple competitions, keep documenting between competitions.
    </p>

    <p>Here is some examples of what you should be documenting: </p>
    <ul>
      <li>Outreach efforts</li>
      <li>Robot performance improvements</li>
      <li>Business and marketing efforts</li>
      <li>Strategy research and improvements</li>
    </ul>

    <h2>Follow the Official Engineering Notebook Requirements</h2>

    <p>Through my years of FTC, I have seen a surprising amount of teams that do not follow all the requirements. Any
      requirement
      that is not followed can subject a team to not qualify for any awards. The official requirements can be found on
      <a href="https://www.firstinspires.org/sites/default/files/uploads/resource_library/ftc/engineering-notebook-guidelines.pdf">
        this
        official document on the FIRST website</a>. Please remember that the requirements may change from season to
      season, and I will try my best
      to
      update this article upon any changes. But this article may not be updated with the latest requirements. </p>

    <blockquote class="quote">Teams may not submit more than two notebooks at a competition</blockquote>

    <p>This requirement is self explanatory, but it is also followed with that if your team uses a binder it can’t be
      larger
      than 3in</p>

    <blockquote class="quote">The Team Number and Team Name must appear on the outside of the Engineering Notebook.</blockquote>

    <p>Many rookie teams miss this requirement even though it takes very time to do. This is a requirement because
      unmarked
      notebooks can be confusing to judges. Judging is difficult and they have very little time to figure out what
      unmarked
      notebooks belong to who. </p>

    <blockquote class="quote">Attach a summary page to the front cover of the Engineering Notebook. The summary should
      be
      one page and include a summary narrative about the team with bulleted highlights of the team’s season. The team
      summary
      page should also include the team number and a list of pages in the Engineering Notebook that the team would most
      like
      the judges to consider.
    </blockquote>

    <p>Because of how difficult of a job judges have at competitions, you want to make their job easier. Through my
      experience
      as an FLL judge, we can not read through team’s entire notebooks. In your team’s highlights make sure to include
      outreach
      highlights. I always recommend to the teams I mentor to include outreach hours and events.
    </p>

    <blockquote class="quote">The engineering notebook must be divided into multiple sections, including:
      <ul>
        <li>An Engineering Section that includes the Robot design processes</li>
        <li>A Team Section that includes information about the Team and outreach activities</li>
        <li>And include one or more of the following (not required, but check requirements for specific awards)<br>1. A
          Business
          plan
          <br>2. A Strategic plan<br>3. A Sustainability plan</li>
      </ul>
    </blockquote>
    <p>The best improvement to your notebook that you can make, if your team has not done already, is to section your
      notebook
      out. Having sections not only makes your notebook more readable for judges, it makes it so your team can easily
      see
      areas you need to improve on. </p>
    <p>The engineering section and the about team section are required but I also recommend using other sections. I
      will
      go more in depth with this in another article but here are some sections I recommend:</p>
    <ul>
      <li>About Team (required)</li>
      <li>Engineering Process (required)</li>
      <li>Meeting Notes</li>
      <li>Outreach Notes</li>
      <li>Software</li>
      <li>Business plan (Should include your strategic and sustainability plan)</li>
    </ul>
    <h2>Include plenty of engineering calculations</h2>
    <p>As apart of the engineering process, you will need to do planning before you make a mechanism for your robot.
      During
      the planning phase it is important to do calculations that pertain to the problem you’re trying to solve with the
      mechanism.
    </p>
    <p>Some examples of calculations you should include in your notebook are:</p>
    <ul>
      <li>Gear ratios if gears are used</li>
      <li>Load on motors, especially drive motors</li>
      <li>Drive train speed</li>
      <li>Structural stress</li>
      <li>Percentage of error on a scoring mechanism</li>
    </ul>
    <p>I am not an expert in the mechanical field, so I recommend working with your mentors, ask other FTC teams, and
      research
      online about what you could calculate.</p>
    <h2>Add lots of visual aids: pictures, sketches, diagrams, and tables</h2>
    <p>Adding visuals to your engineering notebook is essential to showing your team’s progress. Don’t only just take
      pictures
      with your phone of the robot and your team during meetings. Do include plenty of early design sketches. Even if
      it
      is something quickly planned out on a whiteboard.</p>
    <p>Some examples of visual aids:</p>
    <ul>
      <li>Photos of changes to the robot <ul>
          <li>Before, during, and after of the same spot</li>
        </ul>
      </li>
      <li>Whiteboard planning <ul>
          <li>Organization </li>
          <li>Future Plans <ul>
              <li>The app “Office Lens” is a great tool to take pictures of whiteboards and paper </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>Design sketches<ul>
          <li>Progression of growth</li>
          <li>Each large change</li>
        </ul>
      </li>
      <li>Team meetings</li>
      <li>Charts and tables <ul>
          <li>After any testing is done, make sure that the data gets recorded </li>
          <li>Math! This goes more into step 5, but is also good as a visual aid</li>
        </ul>
      </li>
    </ul>
    <h2>Expand on ideas and concepts</h2>
    <p>A mistake I see teams making is that they document their ideas and concepts without the why. The judges want to
      know how and why your team came up with their ideas. Some could argue that you should actually have more
      documentation explaining the why rather than explaining the actual idea. Just stating <strong>what</strong> you
      did during a
      meeting is not as important as explaining <strong>why</strong> you did it.
    </p>
    <p>To improve your meeting notes have your team members not only write about what happened during the meeting, but
      also why they did those actions. Every design goes through many iterations and they judges want to see why your
      team chose to iterate the different parts of your design. A simple way to begin expanding more on your designs
      would be to go through the decision making process and why the design was chosen when compared to other similar
      designs, and how it can be improved on in the future.</p>
    <p>Some ways on how your team could expand on ideas and concepts:</p>
    <ul>
      <li>When writing about your idea, ask yourself why you came up with your idea and write about it.</li>
      <li>Show testing data with diagrams, pictures, sketches, and tables.</li>
      <li>If you are working off of improving someone else’s idea talk about their idea and show it.</li>
    </ul>

    <h2>Use the notebook as a tool for your team</h2>
    <p>One purpose of the notebook is to be able to show off your team’s journey and robot. Most teams get caught up in
      the idea that the notebook is simply for judging. Another purpose is that it is a tool to help organize your
      team.
    </p>
    <p>If your team switches its focus into thinking about the notebook as a way to organize your team, it will greatly
      improve the way you document. There are many ways that it help organize your team. If your team starts every
      meeting as a group by writing down the meeting goals, it lets everyone know what needs to be accomplished and
      everyone is on the same page. Writing about what happened during a meeting will also let other members get caught
      up on what they missed during a meeting they were unable to attend.</p>
    <p>It is also a great thing to bring to outreach and sponsorship. While younger kids may be more interested in the
      robot, many adults and professionals are very impressed with a solid engineering notebook. It gives the team a
      greater sense of professionalism, and tells a story of the team’s season. It also gives potential sponsors proof
      of the team’s journey, and that their money is being put to good use.
    </p>


    <div class="opt-in" action="">
      <p>Sign up for our mailing list to get emailed more FTC resources and tips</p>
      <form class="newsletter-signup" action="">
        <input [(ngModel)]="email" type="text" class="" placeholder="Your email address" aria-label="Your email address">
        <button class="cta-button" (click)="subscribe()" type="submit">Subscribe</button>
      </form>
    </div>
  </div>
</div>
