<h1>About Us</h1>
<div class="container">
  <div class="bio">
    <div class="row" style="margin-bottom: 50px;">
      <div class="col-4">
        <div class="bio-picture">
          <img class="rounded-circle img-fluid" src="../../assets/camerondemille.jpg" alt="">
        </div>
      </div>
      <div class="col-8">
        <div class="bio-desciption">
          <div class="bio-name">
            <h2>Cameron DeMille</h2>
          </div>
          <div class="bio-title">
            <h3>Founder - Front End Developer & Marketing</h3>
          </div>
          <div class="bio-text">
            <p>Cameron is a marketing and website consultant. He started robotics on a rookie FTC team in 2013 during his freshman
              year of high school. He competed in 2 years of FTC and 1 year of FRC. This will be his 3rd year as a FTC mentor
              and 5th year as a FLL mentor. </p>
            <p>He feels that the FIRST community had a large impact on his life and loves to give back to the community. When he
              is not volunteering at FLL/FTC competitions, he spends most of his time mentoring/coaching FTC and FLL teams.
              His goal is to get as many people involved in robotics as he can. </p>
            <p>Web developing is also another passion of his, as he enjoys researching new technologies and ways to develop
              websites. He also enjoys cycling and running. </p>
          </div>
          <div class="bio-links">
            <a href="https://twitter.com/CameronBDeMille">
              <i class="fab fa-twitter-square fa-2x"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-bottom: 50px;">
      <div class="col-8">
        <div class="bio-desciption">
          <div class="bio-name">
            <h2>Michael Leonffu</h2>
          </div>
          <div class="bio-title">
            <h3>Founder - Back End Developer</h3>
          </div>
          <div class="bio-text">
            <p>michael is a person who likes things and dislikes orher things. hes also dealing with that awkward time between
              birth and death..</p>
          </div>
          <div class="bio-links">
            <a href="https://twitter.com/MichaelLeonffu">
              <i class="fab fa-twitter-square fa-2x"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="bio-picture">
          <img class="rounded-circle img-fluid" src="../../assets/michaelleonffu.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="row" style="margin-bottom: 50px;">
      <div class="col-4">
        <div class="bio-picture">
          <img class="rounded-circle img-fluid" src="../../assets/ryannemiroff.jpg" alt="">
        </div>
      </div>
      <div class="col-8">
        <div class="bio-desciption">
          <div class="bio-name">
            <h2>Ryan Nemiroff</h2>
          </div>
          <div class="bio-title">
            <h3>Founder - Back End Developer</h3>
          </div>
          <div class="bio-text">
            <p>Ryan is a computer engineering undergraduate at UCLA. He had a blast competing in FTC for two years in high school, and loves to share his passion for robotics and coding. Outside FIRST, he has experience mentoring students in computer programming. </p>
            <p>Ryan's experience with robotics has had a huge impact on his career path, and he loves to help out with JuicyData in hopes of inspiring others with the excitement of robotics. </p>
            <p>When at school, he is building and programming unmanned drones, and performing video game music. He also enjoys tennis. </p>
          </div>
          <div class="bio-links"></div>
        </div>
      </div>
    </div>
  </div>
</div>
