<div class="article-title">
  <div class="container">
    <h1>Decision Making</h1>
    <div class="lead article-information"> Eric Guo | September 8th, 2018</div>
    <img class="img-fluid article-img" src="../../assets/robot.png" alt="">
  </div>
</div>
<div class="container">
  <div class="post-content" style="padding-top: 25px;">
    <h2><del>Teamwork</del> Leadership</h2>
    <p>While teamwork is an integral aspect of every FTC team, it’s not going to make the crucial decisions or solve
      difficult problems. The real decision making that defines and creates the top teams stem from leadership. While
      the roles with the big names like “Captain” and “Hardware Lead” are great and demand respect, anyone can slap on
      a title to a position. The real leadership should come from every single member of the team. A FIRST team should
      not consist of a small group of motivated students making every decision and a larger group of followers that are
      just there for the ride. A FIRST team should be an unified group of leaders, of thinkers, of innovators, ALL
      taking charge to create something amazing together.
    </p>

    <p><strong>Taking Initiative:</strong> The captain isn’t the only leader on the team: someone has to take charge of
      designing the
      robot, building of the robot, writing the code, creating the engineering notebook, and everything in between. The
      “lead” or “head” of each category shouldn’t be making every decision, but acting more as just a project manager
      to make sure that everyone is on the same page. </p>

    <p>Finding something to be an “expert” in can be difficult, especially for new members because there are so many
      different things to do and options open. It all just begins with experimenting, trying things out and learning
      from the more experienced members. Once you do discover that niche, research it, learn it, master it, and grow to
      become a leader that knows how to make the right decision for the team. Discovering your niche and finding
      something that you can take charge of is how you’re going succeed not only in FIRST, but in life in general.</p>

    <h2>Voting=Bad! (usually)</h2>
    <p>A team vote by the entire team is the usual go-to method to make decisions. While seemingly a good idea, it will
      very rarely leave the team with the most optimal solution, especially when the choices are extremely similar.
      It’s making the correct decision in these scenarios that creates the great FTC teams. Since FTC teams have a max
      of 15 members, usually even less than 10, every vote can tip the scale immensely. It’s very rare that every
      single person voting has the right experience or understands the decision that needs to be made, which is why it
      is better to have “experts” in each section that will make certain decisions. It’s okay if the media lead doesn’t
      have a final say in which type of motor to use in the drive train. At the same time, it’s okay that the build
      captain doesn’t choose what goes into the promote video.</p>

    <p> <strong>A better alternative:</strong> Instead of voting, teams should utilize a method similar to giving a pitch to a board of
      directors. The “expert” or “experts” on the topic should decide on a solution to the problem, and then pitch it
      to the rest of the team. The team should give input and ask questions, and the “experts” should make the final
      decision. This would allow the “experts” to research and compare every aspect of the possible solutions, leaving
      the team with the most optimal solution.</p>

    <p><strong>Trust the Process:</strong> This method of decision making relies on one key aspect within the team. Trust. There must be
      a high level of trust within the team that everyone else will do their part. The media lead shouldn’t have to
      worry about whether or not there will be a robot at competition, and the hardware lead shouldn’t even need to
      think about the promote video. Team members must trust and keep each other in check so that everyone does their
      part in order to keep the team successful. Members must be focused, show up often, embody FIRST’s principles, and
      WANT to succeed.</p>
      <app-opt-in-email></app-opt-in-email>
  </div>
</div>
