<div class="article-title">
    <div class="container">
      <h1>Decision Making</h1>
      <div class="lead article-information"> Eric Guo | September 8th, 2018</div>
      <img class="img-fluid article-img" src="../../assets/game-controller.png" alt="">
    </div>
  </div>
  <div class="container">
    <div class="post-content" style="padding-top: 25px;">
      <h2><del>Teamwork</del> Leadership</h2>
      <p>While teamwork is an integral aspect of every FTC team, it’s not going to make the crucial decisions or solve difficult problems.  The real decision making that defines and creates the top teams stem from leadership. While the roles with the big names like “Captain” and “Hardware Lead” are great and demand respect, anyone can slap on a title to a position. The real leadership should come from every single member of the team.  A FIRST team should not consist of a small group of motivated students making every decision and a larger group of followers that are just there for the ride. A FIRST team should be an unified group of leaders, of thinkers, of innovators, ALL taking charge to create something amazing together.
        </p>
      <div class="opt-in" action="">
        <p>Sign up for our mailing list to get emailed more FTC resources and tips</p>
        <form class="newsletter-signup" action="">
          <input type="text" class="" placeholder="Your email address" aria-label="Your email address">
          <button class="cta-button" type="submit">Subscribe</button>
        </form>
      </div>
    </div>
  </div>
