.navbar {
  font-size: 18px;
  background-color: white;
  border: none;
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)!important; */
  padding-bottom: 5px;
  padding-top: 5px;
  color: #4a4541;
  padding: 15px 0px;
}

.navbar-toggler {
  margin-right: 10px
}

.navbar-collapse {
  text-align: center;
}

img {
  /* padding-right: 8px;
  max-height: 33.3px;
  max-width: 50px; */
  width: 230px;
}

.nav-link {
  display: block;
  padding: 0.5rem 1.3rem !important;
  color: #4a4541 !important;
}

.cta-button {
  background-color: #29c23c;
  border-color: #29c23c;
  color: #fff !important;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  cursor: pointer;
}

.cta-button:hover {
  background-color: #08AE1C;
}
