<div class="container">
	::before
	<h1 style="text-align: left;">Velocity Vortext Events</h1>
	<div class="dropdown">
		<button style="padding-left: 12px; padding-right: 12px;" class="btn btn-lg btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			"Velocity Vortex"
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				<li>
					<a href="/events/velocity-vortex.php">Velocity Vortex</a>
				</li>
			</ul>
		</div>
	<table class="table events table-striped" style="margin-top: 10px;">
		<thead>
			<tr>
				<th>Event</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<a href="/events/velocity-vortex/regional.php">San Diego Regional Championship</a>
					<br>
					<span class="location">Francis Parker School</span>
				</td>
				<td style="color: black">February 25, 2017</td>
			</tr>
			<tr>
				<td>
					<a href="/events/velocity-vortex/turing.php">Turing League Championship</a>
					<br>
					<span class="location">Mater Dei High School</span>
				</td>
				<td style="color: black">February 5, 2017></td>
			</tr>
			<tr>
				<td>
					<a href="/events/velocity-vortex/euclid.php">Euclid League Championship</a>
					<br>
					<span class="location">Tri-City Christian</span>
				</td>
				<td style="color: black">February 4, 2017</td>
			</tr>
			<tr>
				<td>
					<a href="/events/velocity-vortex/descartes.php">Descartes League Championship</a>
					<br>
					<span class="location">Grauer School</span>
				</td>
				<td style="color: black">February 4, 2017</td>
			</tr>
		</tbody>
	</table>
	::after
</div>