<div class="container">
  <h1>{{eventID}}</h1>
  <hr>

  <nav class="nav nav-tabs" id="myTab" role="tablist">
    <a class="nav-item nav-link active" data-toggle="tab" href="#rankings" role="tab">Rankings</a>
    <a class="nav-item nav-link" data-toggle="tab" href="#match-history" role="tab">Match History</a>
    <a class="nav-item nav-link" data-toggle="tab" href="#average-scores" role="tab">Average Scores</a>
  </nav>

  <div class="tab-content">
    <div style="padding-top: 10px;" id="rankings" class="tab-pane fade show active table-responsive">
      <div class="redcircle"></div>
      <span class="key">= Autonomous Period</span>
      <br>
      <div class="bluecircle"></div>
      <span class="key">= Teleop Period</span>
      <br>
      <div class="greencircle"></div>
      <span class="key">= End Game Period</span>
      <table class="table table-striped table-bordered table-responsive" id="inputTable1" datatable [dtOptions]="dtOptions">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Team Number</th>
            <th>Team Name</th>
            <th>Record W-L-T</th>
            <th>QP</th>
            <th>RP</th>
            <th>Total Average</th>
            <th>Marginal Average</th>
            <th class="red">Average</th>
            <th class="blue">Average</th>
            <th class="green">Average</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ranking of data.ranking">
            <td>{{ranking.rank}}</td>
            <td>{{ranking.teamNumber}}</td>
            <td>{{ranking.teamName}}</td>
            <td>{{ranking.record.win}}-{{ranking.record.losses}}-{{ranking.record.ties}}</td>
            <td>{{ranking.qualifyingPoints}}</td>
            <td>{{ranking.rankingPoints}}</td>
            <td>{{ranking.averageScore}}</td>
            <td>{{ranking.averageMarginalScore}}</td>
            <td>{{ranking.average.auto}}</td>
            <td>{{ranking.average.driver}}</td>
            <td>{{ranking.average.end}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div style="padding-top: 10px;" id="match-history" class="tab-pane fade table-responsive">
      <div class="redcircle"></div>
      <span class="key">= Autonomous Period</span>
      <br>
      <div class="bluecircle"></div>
      <span class="key">= Teleop Period</span>
      <br>
      <div class="greencircle"></div>
      <span class="key">= End Game Period</span>

      <table class="table table-striped table-bordered table-responsive" id="inputTable2" datatable [dtOptions]="dtOptions">
          <thead>
              <tr>
                <th>#</th>
                <th>Alliance</th>
                <th>Team Numbers</th>
                <th>Team Names</th>
                <th>Ranks</th>
                <th>Result</th>
                <th>Predicted</th>
                <th class="red">Jewel</th>
                <th class="red">Glyphs</th>
                <th class="red">Keys</th>
                <th class="red">Park</th>
                <th class="blue">Glyphs</th>
                <th class="blue">Rows</th>
                <th class="blue">Columns</th>
                <th class="blue">Cypher</th>
                <th class="green">Relic 1</th>
                <th class="green">Relic 2</th>
                <th class="green">Relic 3</th>
                <th class="green">Relic Up</th>
                <th class="green">Balance</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let matchHistory of data.matchHistory">
                <td>{{matchHistory.matchNumber}}</td>
                <td>{{matchHistory.alliance}}</td>
                <td>{{matchHistory.team1.teamNumber}} {{matchHistory.team2.teamNumber}}</td>
                <td>{{matchHistory.team1.teamNames}} {{matchHistory.team2.teamNames}}</td>
                <td>{{matchHistory.team1.rank}} {{matchHistory.team2.rank}}</td>
                <td>{{matchHistory.result.total}} {{matchHistory.result.penalty}} {{matchHistory.result.final}}</td>
                <td></td>
                <td>{{matchHistory.auto.jewel}}</td>
                <td>{{matchHistory.auto.glyphs}}</td>
                <td>{{matchHistory.auto.keys}}</td>
                <td>{{matchHistory.auto.park}}</td>
                <td>{{matchHistory.driver.glyphs}}</td>
                <td>{{matchHistory.driver.rows}}</td>
                <td>{{matchHistory.driver.columns}}</td>
                <td>{{matchHistory.driver.cypher}}</td>
                <td>{{matchHistory.end.relic1}}</td>
                <td>{{matchHistory.end.relic2}}</td>
                <td>{{matchHistory.end.relic3}}</td>
                <td>{{matchHistory.end.relicUp}}</td>
                <td>{{matchHistory.end.balanced}}</td>
              </tr>
            </tbody>
      </table>
    </div>
    <div style="padding-top: 10px;" id="average-scores" class="tab-pane fade table-responsive">
      <div class="redcircle"></div>
      <span class="key">= Autonomous Period</span>
      <br>
      <div class="bluecircle"></div>
      <span class="key">= Teleop Period</span>
      <br>
      <div class="greencircle"></div>
      <span class="key">= End Game Period</span>
      <table class="table table-striped table-bordered table-responsive" id="inputTable3" datatable [dtOptions]="dtOptions">
        <thead>
          <tr>
            <th>Team Number</th>
            <th>Team Name</th>
            <th>Average Score</th>
            <th class="red">Average</th>
            <th class="blue">Average</th>
            <th class="green">Average</th>
            <th class="red">Jewel</th>
            <th class="red">Glyphs</th>
            <th class="red">Keys</th>
            <th class="red">Park</th>
            <th class="blue">Glyphs</th>
            <th class="blue">Rows</th>
            <th class="blue">Columns</th>
            <th class="blue">Cypher</th>
            <th class="green">Relic 1</th>
            <th class="green">Relic 2</th>
            <th class="green">Relic 3</th>
            <th class="green">Relic Up</th>
            <th class="green">Balance</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let averageScores of data.averageScores">
            <td>{{averageScores.teamNumber}}</td>
            <td>{{averageScores.teamName}}</td>
            <td>{{averageScores.averageScore}}</td>
            <td>{{averageScores.average.auto}}</td>
            <td>{{averageScores.average.driver}}</td>
            <td>{{averageScores.gameAverage.auto.jewel}}</td>
            <td>{{averageScores.gameAverage.auto.glyphs}}</td>
            <td>{{averageScores.gameAverage.auto.keys}}</td>
            <td>{{averageScores.gameAverage.auto.park}}</td>
            <td>{{averageScores.gameAverage.driver.glyphs}}</td>
            <td>{{averageScores.gameAverage.driver.rows}}</td>
            <td>{{averageScores.gameAverage.driver.columns}}</td>
            <td>{{averageScores.gameAverage.driver.cypher}}</td>
            <td>{{averageScores.gameAverage.end.relic1}}</td>
            <td>{{averageScores.gameAverage.end.relic2}}</td>
            <td>{{averageScores.gameAverage.end.relic3}}</td>
            <td>{{averageScores.gameAverage.end.relicUp}}</td>
            <td>{{averageScores.gameAverage.end.balanced}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
