<div class="container">
  <h1 *ngIf="data">{{data.eventInformation.eventName}}</h1>
  <hr *ngIf="data">

  <div class="alert alert-danger" role="alert" *ngIf="error">
    Error: {{error}}
  </div>

  <div class="alert alert-info horizontal-tip alert-dismissible fade show" role="alert">
    This event page is best viewed in a horizontal view
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <nav class="nav nav-tabs" id="myTab" role="tablist" *ngIf="!error">
    <a class="nav-item nav-link active" data-toggle="tab" href="#rankings" role="tab">Rankings</a>
    <a class="nav-item nav-link" data-toggle="tab" href="#match-history" role="tab">Match History</a>
    <a class="nav-item nav-link" data-toggle="tab" href="#average-scores" role="tab">Average Scores</a>
    <!-- <a class="nav-item nav-link" data-toggle="tab" href="#alliance-calculator" role="tab">Alliance Calculator</a> -->
  </nav>

  <div class="tab-content" *ngIf="!error">
    <div style="padding-top: 10px;" id="rankings" class="tab-pane fade show active table-responsive">
      <div class="legend">
        <div class="redcircle"></div>
        <span class="key">= Autonomous Period</span>
        <br>
        <div class="bluecircle"></div>
        <span class="key">= Teleop Period</span>
        <br>
        <div class="greencircle"></div>
        <span class="key">= End Game Period</span>
      </div>
      <table class="table table-striped table-responsive" id="inputTable1" datatable [dtOptions]="dtOptions" *ngIf="data">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Team Number</th>
            <th>Team Name</th>
            <th>Record W-L-T</th>
            <th>QP</th>
            <th>RP</th>
            <th>Total Average</th>
            <th>Marginal Average</th>
            <th class="red">Average</th>
            <th class="blue">Average</th>
            <th class="green">Average</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ranking of data.ranking">
            <td>{{ranking.rank}}</td>
            <td>
              <a routerLink="/teams/{{ranking.teamNumber}}">{{ranking.teamNumber}}</a>
            </td>
            <td>{{ranking.teamName}}</td>
            <td>{{ranking.record.wins}}-{{ranking.record.losses}}-{{ranking.record.ties}}</td>
            <td>{{ranking.qualifyingPoints}}</td>
            <td>{{ranking.rankingPoints}}</td>
            <td>{{ranking.averageScore}}</td>
            <td>{{ranking.averageMarginalScore}}</td>
            <td class="auto">{{ranking.average.auto}}</td>
            <td class="driver">{{ranking.average.driver}}</td>
            <td class="end">{{ranking.average.end}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div style="padding-top: 10px;" id="match-history" class="tab-pane fade table-responsive">
      <div class="legend">
        <div class="redcircle"></div>
        <span class="key">= Autonomous Period</span>
        <br>
        <div class="bluecircle"></div>
        <span class="key">= Teleop Period</span>
        <br>
        <div class="greencircle"></div>
        <span class="key">= End Game Period</span>
      </div>

      <table class="table table-responsive" id="inputTable2" datatable [dtOptions]="dtOptions" *ngIf="data">
        <thead>
          <tr>
            <th>#</th>
            <th style="min-width: 68px;">Rank: Team</th>
            <th>Result</th>
            <th class="red left-section">Jewel</th>
            <th class="red">Glyphs</th>
            <th class="red">Keys</th>
            <th class="red right-section">Park</th>
            <th class="blue">Glyphs</th>
            <th class="blue">Rows</th>
            <th class="blue">Columns</th>
            <th class="blue">Cypher</th>
            <th class="green left-section">Relic 1</th>
            <th class="green">Relic 2</th>
            <th class="green">Relic 3</th>
            <th class="green">Relic Up</th>
            <th class="green right-section">Balance</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let matchHistory of data.matchHistory; index as i">
            <td class="table-center" [ngClass]="{'blue-alliance': matchHistory.alliance === 'blue', 'red-alliance': matchHistory.alliance === 'red', 'bottom-section': matchHistory.alliance === 'blue'}">{{matchHistory.matchNumber}}</td>
            <td class="table-center team-rank" style="text-align: left" [ngClass]="{'font-weight-bold': matchHistory.alliance === matchHistory.winner, 'blue-alliance': matchHistory.alliance === 'blue', 'red-alliance': matchHistory.alliance === 'red', 'bottom-section': matchHistory.alliance === 'blue'}">
              <span class="font-weight-normal">{{matchHistory.team1.rank}}:</span>
              <a class="font-weight-normal" routerLink="/teams/{{matchHistory.team1.teamNumber}}">{{matchHistory.team1.teamNumber}}</a>
              <span class="d-none d-xl-inline">{{matchHistory.team1.teamName}}</span>
              <span *ngIf="matchHistory.team1.surrogate">*</span>
              <br>
              <span class="font-weight-normal">{{matchHistory.team2.rank}}:</span>
              <a class="font-weight-normal" routerLink="/teams/{{matchHistory.team2.teamNumber}}">{{matchHistory.team2.teamNumber}}</a>
              <span class="d-none d-xl-inline">{{matchHistory.team2.teamName}}</span>
              <span *ngIf="matchHistory.team2.surrogate">*</span>
            </td>
            <td class="table-center" [ngClass]="{'font-weight-bold': matchHistory.alliance === matchHistory.winner, 'blue-alliance': matchHistory.alliance === 'blue', 'red-alliance': matchHistory.alliance === 'red', 'bottom-section': matchHistory.alliance === 'blue'}">
              <span *ngIf="matchHistory.result.final">{{matchHistory.result.final}}</span>
              <!-- <span *ngIf="!matchHistory.result.final">Predicted Winner {{matchHistory.prediction}}</span> -->
            </td>
            <td [ngClass]="{'font-weight-bold': matchHistory.alliance === matchHistory.winner, 'bottom-section': matchHistory.alliance === 'blue'}"
              class="auto table-center">{{matchHistory.gameInformation.auto.jewel}}</td>
            <td [ngClass]="{'font-weight-bold': matchHistory.alliance === matchHistory.winner, 'bottom-section': matchHistory.alliance === 'blue'}"
              class="auto table-center">{{matchHistory.gameInformation.auto.glyphs}}</td>
            <td [ngClass]="{'font-weight-bold': matchHistory.alliance === matchHistory.winner, 'bottom-section': matchHistory.alliance === 'blue'}"
              class="auto table-center">{{matchHistory.gameInformation.auto.keys}}</td>
            <td [ngClass]="{'font-weight-bold': matchHistory.alliance === matchHistory.winner, 'bottom-section': matchHistory.alliance === 'blue'}"
              class="auto table-center">{{matchHistory.gameInformation.auto.park}}</td>
            <td [ngClass]="{'font-weight-bold': matchHistory.alliance === matchHistory.winner, 'bottom-section': matchHistory.alliance === 'blue'}"
              class="driver table-center">{{matchHistory.gameInformation.driver.glyphs}}</td>
            <td [ngClass]="{'font-weight-bold': matchHistory.alliance === matchHistory.winner, 'bottom-section': matchHistory.alliance === 'blue'}"
              class="driver table-center">{{matchHistory.gameInformation.driver.rows}}</td>
            <td [ngClass]="{'font-weight-bold': matchHistory.alliance === matchHistory.winner, 'bottom-section': matchHistory.alliance === 'blue'}"
              class="driver table-center">{{matchHistory.gameInformation.driver.columns}}</td>
            <td [ngClass]="{'font-weight-bold': matchHistory.alliance === matchHistory.winner, 'bottom-section': matchHistory.alliance === 'blue'}"
              class="driver table-center">{{matchHistory.gameInformation.driver.cypher}}</td>
            <td [ngClass]="{'font-weight-bold': matchHistory.alliance === matchHistory.winner, 'bottom-section': matchHistory.alliance === 'blue'}"
              class="end table-center">{{matchHistory.gameInformation.end.relic1}}</td>
            <td [ngClass]="{'font-weight-bold': matchHistory.alliance === matchHistory.winner, 'bottom-section': matchHistory.alliance === 'blue'}"
              class="end table-center">{{matchHistory.gameInformation.end.relic2}}</td>
            <td [ngClass]="{'font-weight-bold': matchHistory.alliance === matchHistory.winner, 'bottom-section': matchHistory.alliance === 'blue'}"
              class="end table-center">{{matchHistory.gameInformation.end.relic3}}</td>
            <td [ngClass]="{'font-weight-bold': matchHistory.alliance === matchHistory.winner, 'bottom-section': matchHistory.alliance === 'blue'}"
              class="end table-center">{{matchHistory.gameInformation.end.relicsUp}}</td>
            <td [ngClass]="{'font-weight-bold': matchHistory.alliance === matchHistory.winner, 'bottom-section': matchHistory.alliance === 'blue'}"
              class="end table-center">{{matchHistory.gameInformation.end.balanced}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div style="padding-top: 10px;" id="average-scores" class="tab-pane fade table-responsive">
      <div class="legend">
        <div class="redcircle"></div>
        <span class="key">= Autonomous Period</span>
        <br>
        <div class="bluecircle"></div>
        <span class="key">= Teleop Period</span>
        <br>
        <div class="greencircle"></div>
        <span class="key">= End Game Period</span>
      </div>
      <table class="table table-striped table-responsive" id="inputTable3" datatable [dtOptions]="dtOptions" *ngIf="data">
        <thead>
          <tr>
            <th>Team Number</th>
            <th>Team Name</th>
            <th>Average Score</th>
            <th class="red">Average</th>
            <th class="blue">Average</th>
            <th class="green">Average</th>
            <th class="red">Jewel</th>
            <th class="red">Glyphs</th>
            <th class="red">Keys</th>
            <th class="red">Park</th>
            <th class="blue">Glyphs</th>
            <th class="blue">Rows</th>
            <th class="blue">Columns</th>
            <th class="blue">Cypher</th>
            <th class="green">Relic 1</th>
            <th class="green">Relic 2</th>
            <th class="green">Relic 3</th>
            <th class="green">Relic Up</th>
            <th class="green">Balance</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let averageScores of data.averageScores">
            <td>
              <a routerLink="/teams/{{averageScores.teamNumber}}">{{averageScores.teamNumber}}</a>
            </td>
            <td>{{averageScores.teamName}}</td>
            <td>{{averageScores.averageScore}}</td>
            <td class="auto">{{averageScores.average.auto}}</td>
            <td class="driver">{{averageScores.average.driver}}</td>
            <td class="end">{{averageScores.average.end}}</td>
            <td class="auto">{{averageScores.gameAverages.auto.jewel}}</td>
            <td class="auto">{{averageScores.gameAverages.auto.glyphs}}</td>
            <td class="auto">{{averageScores.gameAverages.auto.keys}}</td>
            <td class="auto">{{averageScores.gameAverages.auto.park}}</td>
            <td class="driver">{{averageScores.gameAverages.driver.glyphs}}</td>
            <td class="driver">{{averageScores.gameAverages.driver.rows}}</td>
            <td class="driver">{{averageScores.gameAverages.driver.columns}}</td>
            <td class="driver">{{averageScores.gameAverages.driver.cypher}}</td>
            <td class="end">{{averageScores.gameAverages.end.relic1}}</td>
            <td class="end">{{averageScores.gameAverages.end.relic2}}</td>
            <td class="end">{{averageScores.gameAverages.end.relic3}}</td>
            <td class="end">{{averageScores.gameAverages.end.relicsUp}}</td>
            <td class="end">{{averageScores.gameAverages.end.balanced}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div style="padding-top: 10px;" id="alliance-calculator" class="tab-pane fade" *ngIf="data">
      <div class="row">
        <div class="col-6">
          <h3>Alliance 1</h3>
          <select [(ngModel)]="alliance1team1" id="alliance1team1" class="form-control">
            <option *ngFor="let teamNumber of data.eventInformation.teamsList">{{teamNumber}}</option>
          </select>
          <select [(ngModel)]="alliance1team2" id="alliance1team2" class="form-control">
            <option *ngFor="let teamNumber of data.eventInformation.teamsList">{{teamNumber}}</option>
          </select>
        </div>
        <div class="col-6">
          <h3>Alliance 2</h3>
          <select [(ngModel)]="alliance2team1" id="alliance2team1" class="form-control">
            <option *ngFor="let teamNumber of data.eventInformation.teamsList">{{teamNumber}}</option>
          </select>
          <select [(ngModel)]="alliance2team2" id="alliance2team2" class="form-control">
            <option *ngFor="let teamNumber of data.eventInformation.teamsList">{{teamNumber}}</option>
          </select>
        </div>
      </div>
      <button class="btn btn-primary btn-block" (click)="predict()">Test</button>
    </div>
    <p>NJE: Not Juicy Enough; There isn't enough matches played to produce data yet (normally data is produced by match 6)</p>
  </div>
</div>
