<div class="article-title">
  <div class="container">
    <h1>A Few Tips to Bring Your Driving Game to the Next Level.</h1>
    <div class="lead article-information"> Andrew Liang | September 8th, 2018</div>
    <img class="img-fluid article-img" src="../../assets/game-controller.png" alt="">
  </div>
</div>
<div class="container">
  <div class="post-content" style="padding-top: 25px;">
    <p>Even in the actual robot game, it’s more than just robots when you’re competing. How the robot performs in the
      match is as much the coach and the drivers as it is the structural stability or programmed prowess of the robot
      itself. Here are a few pointers to elevate your drive team.</p>
    <h2>Team Synergy</h2>
    <p><strong>First of all, you must work well together.</strong> This goes without saying, for the most part, but it
      goes a bit deeper
      than that. Ideally, the drivers place absolute trust in their drive coach, so that the drive coach dictates
      absolutely everything. It would seem intuitive that three heads are better than one, but it’s actually the
      opposite. In the game, there is pressure on the drivers, and there isn’t really time to discuss the next move.
      It’s better to act on a split second, and in a unified maneuver rather than having one driver have one idea, the
      second driver having another, and the coach having second thoughts. It doesn’t improve your robot itself,
      granted, but it will help the drive team use the robot’s full potential.
    </p>
    <p><strong>Have an A team and a B team.</strong>These teams don’t need to be inferior or superior to another, but
      as a coach, you
      need to be able to swap the teams out between matches. This is good for two reasons. The first is that it spreads
      out the pressure, and the experience. It’s mentally draining to have the coach behind you for two minutes playing
      mind games with the opponent alliance and telling you what to do when the match feels like so much rides on it.
    </p>
    <h2>Roles:</h2>
    <ul>
      <li><strong>Coach: You are the leader of this team.</strong> This means that you are responsible for:
        <ul>
          <li><strong>Knowing the full capabilities of the robot, </strong>including a knowledge of the controls on par with the
            drivers,
            if not better. You should know how each function of the robot can be used, for instance, fast move versus
            slow move. Fast lift versus precise lift. You should be able to dictate when each of these are necessary
            depending on the game. You should also actively seek out “combos.” For instance, if the driver can work on
            a
            maneuver that involves combining fast move with precise lift to make a faster action, then let them know
            and
            practice to see if it works.</li>
          <li><strong>Network with other teams.</strong> Of course, scouts can get you information on any team you want, but there’s
            very little that beats walking up to an alliance’s drive team personally and strategizing with them before
            the match, or watch your opponents to see how they play. In both of these scenarios, you are responsible
            for making that connection and either unifying your strategy to make it more cohesive, or thinking about
            how to beat the opponent.
          </li>
          <li><strong>Have a very good knowledge of the rules.</strong> You need to be able to make the call to stop your drivers from
            committing penalties, but also to play strategically around the opponent that gives you an advantage
            legally. You should know all the penalizable offenses in the game period.</li>
          <li><strong>Be able to make split-second decisions. </strong>Your drive team is reliant on you to make the call for them, and
            to be able to make the right call in the heat of competition can make or break your match. </li>
          <li><strong>Be able to control your drive team, and to make hard decisions.</strong> You will ideally be trusted to the point
            where your word is an order, to make the operation unified. This also means that you have to be the person
            that potentially swaps the A team for the B team between matches depending on what they need. You need to
            be respected enough to be able to make that decision without resistance.</li>
        </ul>
      </li>
      <li><strong>Driver:</strong> <ul>
          <li><strong>Be ready for your match.</strong> This includes practicing on your own and with your drive partner, if not with
            your coach. It takes only ten minutes to learn what the controls are, but hundreds of hours to master them.
            Obviously, don’t give up sleep for practice if you don’t have to, but the more you do, the more comfortable
            you will be with your matches.</li>
          <li><strong>Listen to your coach.</strong> Your coach might not always be right, but it’s more about being able to trust one
            another and not letting trust issues get in the way of focusing on the match.</li>
          <li><strong>This goes for the coach as well, but stay healthy.</strong> It’s no good for anyone to show up to a competition
            sick, so it’s almost common sense to make sure your health comes before robotics. That said, knowing
            robotics, it needs to be said anyway.</li>
        </ul>
      </li>
    </ul>

    <app-opt-in-email></app-opt-in-email>
  </div>
</div>
