<div class="container">
	<div class="navvar-header">
		<a class="nav-brand" href="L">
		<img style="max-width:50px" src="/images/logo.png">
		<span class="logo hidden-xs">The Orange Alliance</span>
	</a>
	<a class="nav-brand" href="L"></a>
	<button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
</div>
<div class="collapse navbar-collapse navHeaderCollapse">
	<ul class="nav navbar-nav navbar-right">
		<li>
			<a href="L">Home</a>
		</li>
		<li class="active">
			<a href="/events/velocity-vortex.html">Events</a>
		</li>
		<li>
			<a href="/events?velocity-vortex.html">Events</a>
		</li>
		<li>
			<a href="/input-data.html">Input Match Results</a>
		</li>
	</ul>
</div>
</div>
<div class="content">
	<div class="container">
		<h1>Euclid League Championship</h1>
		<h1></h1>
		<hr>
		<ul class="nav nav-tabs">
			<li role="presentation" class="active small">
				<a data-toggle="tab" href=#rankings>Rankings</a>
			</li>
			<li role="presentation" class="small">
				<a data-toggle="tab" href="#average-scores">Average Scores</a>
			</li>
		</ul>
		<div class="tab-content">
			<div style="padding-top: 10px;" id="rankings" class="tab-pane fade in active table-responsive">
				<div class="row">
					<div class="col-sm-6"></div>
					<div class="col-sm-6">
						<div id="inputTable1_filter" class="dataTables_filter">
							<label>
								"Search:"
								<input type="search" class="form-control input-sm" placeholder aria-controls="inputTable1">
							</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<table class="table table-striped table-bordered dataTable no-footer" id="inputTable1" role="grid" aria-describedby="inputTabe1.info">
							<thead>
								<tr role="role">
									<th class="sorting_asc" tabindex="0" aria-controls="inputTable1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rank: activate to sort column descending" style="width: 79px;">Rank</th>
									<th class="sorting" tabindex="0" aria-controls="inputTable1" rowspan="1" colspan="1" aria-label="Team Number: activate to sort column ascending" style="width: 182px;">Team Number</th>
									<th class="sorting" tabindex="0" aria-controls="inputTable1" rowspan="1" colspan="1" aria-label="Team Name: activate to sort column ascending" style="width: 354px;">Team Name</th>
									<th class="sorting" tabindex="0" aria-controls="inputTable1" rowspan="1" colspan="1" aria-label="Record W-L-T: activate to sort column ascending" style="width: 180px;">Record W-L-T</th>
									<th class="sorting" tabindex="0" aria-controls="inputTable1" rowspan="1" colspan="1" aria-label="QP: activate to sort column ascending" style="width: 54px;">QP</th>
									<th class="sorting" tabindex="0" aria-controls="inputTable1" rowspan="1" colspan="1" aria-label="RP: activate to sort column ascending" style="width: 53px;">RP</th>
									<th class="sorting" tabindex="0" aria-controls="inputTable1" rowspan="1" colspan="1" aria-label="OPR*: activate to sort column ascending" style="width: 82px;">OPR*</th>
								</tr>
							</thead>
						</table>
						<tbody>
							<tr role="row" class="odd">