<div class="container">
  <h1>Gauss League Championship</h1>
  <h1></h1>
  <hr>

  <nav class="nav nav-tabs" id="myTab" role="tablist">
    <a class="nav-item nav-link active" data-toggle="tab" href="#rankings" role="tab">Rankings</a>
    <a class="nav-item nav-link" data-toggle="tab" href="#match-history" role="tab">Match History</a>
    <a class="nav-item nav-link" data-toggle="tab" href="#average-scores" role="tab">Average Scores</a>
  </nav>

  <div class="tab-content">
    <div style="padding-top: 10px;" id="rankings" class="tab-pane fade show active">
      <table class="table table-striped table-bordered table-responsive" datatable [dtOptions]="dtOptions">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Team Number</th>
            <th>Team Name</th>
            <th>Record W-L-T</th>
            <th>QP</th>
            <th>RP</th>
            <th>OPR*</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>10</td>
            <td>10221</td>
            <td>Robotx</td>
            <td>2-3-1</td>
            <td>5</td>
            <td>265</td>
            <td>8.61</td>
          </tr>
          <tr>
            <td>5</td>
            <td>6137</td>
            <td>RoBowties</td>
            <td>4-2-0</td>
            <td>8</td>
            <td>300</td>
            <td>94.12</td>
          </tr>
          <tr>
            <td>11</td>
            <td>11656</td>
            <td>Neutron Stars</td>
            <td>2-4-0</td>
            <td>4</td>
            <td>301</td>
            <td>11.17</td>
          </tr>
          <tr>
            <td>1</td>
            <td>9920</td>
            <td>Furious Falcons</td>
            <td>5-1-0</td>
            <td>10</td>
            <td>478</td>
            <td>100.41</td>
          </tr>
          <tr>
            <td>3</td>
            <td>6074</td>
            <td>R.A.W.A.L.A</td>
            <td>5-1-0</td>
            <td>10</td>
            <td>280</td>
            <td>31.53</td>
          </tr>
          <tr>
            <td>13</td>
            <td>7542</td>
            <td>OLP Microchicks</td>
            <td>2-4-0</td>
            <td>4</td>
            <td>202</td>
            <td>4.62</td>
          </tr>
          <tr>
            <td>8</td>
            <td>11350</td>
            <td>Sloth Slowbotics</td>
            <td>3-3-0</td>
            <td>6</td>
            <td>367</td>
            <td>57.27</td>
          </tr>
          <tr>
            <td>6</td>
            <td>2885</td>
            <td>Kronos</td>
            <td>3-2-1</td>
            <td>7</td>
            <td>397</td>
            <td>31.92</td>
          </tr>
          <tr>
            <td>7</td>
            <td>6016</td>
            <td>Ironwolves</td>
            <td>3-3-0</td>
            <td>6</td>
            <td>376</td>
            <td>27.28</td>
          </tr>
          <tr>
            <td>4</td>
            <td>9892</td>
            <td>EngiNERDs</td>
            <td>4-1-1</td>
            <td>9</td>
            <td>402</td>
            <td>79.8</td>
          </tr>
          <tr>
            <td>2</td>
            <td>9441</td>
            <td>Syndicate</td>
            <td>5-1-0</td>
            <td>10</td>
            <td>362</td>
            <td>84.95</td>
          </tr>
          <tr>
            <td>9</td>
            <td>6003</td>
            <td>Techno Eagles</td>
            <td>3-3-0</td>
            <td>6</td>
            <td>256</td>
            <td>56.62</td>
          </tr>
          <tr>
            <td>14</td>
            <td>5828</td>
            <td>E.M.P. Chaos</td>
            <td>1-4-1</td>
            <td>3</td>
            <td>375</td>
            <td>44.53</td>
          </tr>
          <tr>
            <td>16</td>
            <td>8906</td>
            <td>ROARbots</td>
            <td>1-5-0</td>
            <td>2</td>
            <td>195</td>
            <td>7.16</td>
          </tr>
          <tr>
            <td>15</td>
            <td>8472</td>
            <td>Robotatoes</td>
            <td>1-5-0</td>
            <td>2</td>
            <td>232</td>
            <td>24.73</td>
          </tr>
          <tr>
            <td>12</td>
            <td>11938</td>
            <td>GPA Eagles</td>
            <td>2-4-0</td>
            <td>4</td>
            <td>276</td>
            <td>8.81</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div style="padding-top: 10px;" id="match-history" class="tab-pane fade">
      <div class="redcircle"></div>
      <span class="key">= Autonomous Period</span>
      <br>
      <div class="bluecircle"></div>
      <span class="key">= Teleop Period</span>
      <br>
      <div class="greencircle"></div>
      <span class="key">= End Game Period</span>

      <table class="table table-striped table-bordered table-responsive" datatable [dtOptions]="dtOptions">
        <thead>
          <tr>
            <th>#</th>
            <th>Alliance</th>
            <th>Team Number</th>
            <th>Team Name</th>
            <th>OPR*</th>
            <th>Result R-B</th>
            <th>Score</th>
            <th class="red">Parking</th>
            <th class="red">Center Particles</th>
            <th class="red">Corner Particles</th>
            <th class="red">Cap Ball</th>
            <th class="red">Beacons</th>
            <th class="blue">Center Particles</th>
            <th class="blue">Corner Particles</th>
            <th class="green">Beacons</th>
            <th class="green">Cap Ball</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Red</td>
            <td>9920</td>
            <td>Furious Falcons</td>
            <td>100.41</td>
            <td>85-80</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>1</td>
            <td>Red</td>
            <td>6074</td>
            <td>R.A.W.A.L.A</td>
            <td>31.53</td>
            <td>85-80</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>1</td>
            <td>Blue</td>
            <td>5828</td>
            <td>E.M.P. Chaos</td>
            <td>44.53</td>
            <td>85-80</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>1</td>
            <td>Blue</td>
            <td>6003</td>
            <td>Techno Eagles</td>
            <td>56.62</td>
            <td>85-80</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>2</td>
            <td>Red</td>
            <td>10221</td>
            <td>Robotx</td>
            <td>8.61</td>
            <td>190-35</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>2</td>
            <td>Red</td>
            <td>9441</td>
            <td>Syndicate</td>
            <td>84.95</td>
            <td>190-35</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>2</td>
            <td>Blue</td>
            <td>8906</td>
            <td>ROARbots</td>
            <td>7.16</td>
            <td>190-35</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>2</td>
            <td>Blue</td>
            <td>11350</td>
            <td>Sloth Slowbotics</td>
            <td>57.27</td>
            <td>190-35</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>3</td>
            <td>Red</td>
            <td>11656</td>
            <td>Neutron Stars</td>
            <td>11.17</td>
            <td>70-130</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>3</td>
            <td>Red</td>
            <td>6016</td>
            <td>Ironwolves</td>
            <td>27.28</td>
            <td>70-130</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>3</td>
            <td>Blue</td>
            <td>6137</td>
            <td>RoBowties</td>
            <td>94.12</td>
            <td>70-130</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>3</td>
            <td>Blue</td>
            <td>2885</td>
            <td>Kronos</td>
            <td>31.92</td>
            <td>70-130</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>4</td>
            <td>Red</td>
            <td>7542</td>
            <td>OLP Microchicks</td>
            <td>4.62</td>
            <td>50-37</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>4</td>
            <td>Red</td>
            <td>9892</td>
            <td>EngiNERDs</td>
            <td>79.8</td>
            <td>50-37</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>4</td>
            <td>Blue</td>
            <td>8472</td>
            <td>Robotatoes</td>
            <td>24.73</td>
            <td>50-37</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>4</td>
            <td>Blue</td>
            <td>11938</td>
            <td>GPA Eagles</td>
            <td>8.81</td>
            <td>50-37</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>5</td>
            <td>Red</td>
            <td>9441</td>
            <td>Syndicate</td>
            <td>84.95</td>
            <td>50-165</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>5</td>
            <td>Red</td>
            <td>11656</td>
            <td>Neutron Stars</td>
            <td>11.17</td>
            <td>50-165</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>5</td>
            <td>Blue</td>
            <td>6074</td>
            <td>R.A.W.A.L.A</td>
            <td>31.53</td>
            <td>50-165</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>5</td>
            <td>Blue</td>
            <td>6137</td>
            <td>RoBowties</td>
            <td>94.12</td>
            <td>50-165</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>6</td>
            <td>Red</td>
            <td>9920</td>
            <td>Furious Falcons</td>
            <td>100.41</td>
            <td>160-45</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>6</td>
            <td>Red</td>
            <td>8906</td>
            <td>ROARbots</td>
            <td>7.16</td>
            <td>160-45</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>6</td>
            <td>Blue</td>
            <td>8472</td>
            <td>Robotatoes</td>
            <td>24.73</td>
            <td>160-45</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>6</td>
            <td>Blue</td>
            <td>7542</td>
            <td>OLP Microchicks</td>
            <td>4.62</td>
            <td>160-45</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>7</td>
            <td>Red</td>
            <td>2885</td>
            <td>Kronos</td>
            <td>31.92</td>
            <td>120-120</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>7</td>
            <td>Red</td>
            <td>5828</td>
            <td>E.M.P. Chaos</td>
            <td>44.53</td>
            <td>120-120</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>7</td>
            <td>Blue</td>
            <td>9892</td>
            <td>EngiNERDs</td>
            <td>79.8</td>
            <td>120-120</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>7</td>
            <td>Blue</td>
            <td>10221</td>
            <td>Robotx</td>
            <td>8.61</td>
            <td>120-120</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>8</td>
            <td>Red</td>
            <td>6003</td>
            <td>Techno Eagles</td>
            <td>56.62</td>
            <td>41-75</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>8</td>
            <td>Red</td>
            <td>11938</td>
            <td>GPA Eagles</td>
            <td>8.81</td>
            <td>41-75</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>8</td>
            <td>Blue</td>
            <td>11350</td>
            <td>Sloth Slowbotics</td>
            <td>57.27</td>
            <td>41-75</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>8</td>
            <td>Blue</td>
            <td>6016</td>
            <td>Ironwolves</td>
            <td>27.28</td>
            <td>41-75</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>9</td>
            <td>Red</td>
            <td>2885</td>
            <td>Kronos</td>
            <td>31.92</td>
            <td>45-135</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>9</td>
            <td>Red</td>
            <td>8472</td>
            <td>Robotatoes</td>
            <td>24.73</td>
            <td>45-135</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>9</td>
            <td>Blue</td>
            <td>9441</td>
            <td>Syndicate</td>
            <td>84.95</td>
            <td>45-135</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>9</td>
            <td>Blue</td>
            <td>6074</td>
            <td>R.A.W.A.L.A</td>
            <td>31.53</td>
            <td>45-135</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>10</td>
            <td>Red</td>
            <td>6137</td>
            <td>RoBowties</td>
            <td>94.12</td>
            <td>5-44</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>10</td>
            <td>Red</td>
            <td>10221</td>
            <td>Robotx</td>
            <td>8.61</td>
            <td>5-44</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>10</td>
            <td>Blue</td>
            <td>7542</td>
            <td>OLP Microchicks</td>
            <td>4.62</td>
            <td>5-44</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>10</td>
            <td>Blue</td>
            <td>11938</td>
            <td>GPA Eagles</td>
            <td>8.81</td>
            <td>5-44</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>11</td>
            <td>Red</td>
            <td>8906</td>
            <td>ROARbots</td>
            <td>7.16</td>
            <td>30-115</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>11</td>
            <td>Red</td>
            <td>5828</td>
            <td>E.M.P. Chaos</td>
            <td>44.53</td>
            <td>30-115</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>11</td>
            <td>Blue</td>
            <td>6003</td>
            <td>Techno Eagles</td>
            <td>56.62</td>
            <td>30-115</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>11</td>
            <td>Blue</td>
            <td>11656</td>
            <td>Neutron Stars</td>
            <td>11.17</td>
            <td>30-115</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>12</td>
            <td>Red</td>
            <td>6016</td>
            <td>Ironwolves</td>
            <td>27.28</td>
            <td>115-165</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>12</td>
            <td>Red</td>
            <td>9892</td>
            <td>EngiNERDs</td>
            <td>79.8</td>
            <td>115-165</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>12</td>
            <td>Blue</td>
            <td>11350</td>
            <td>Sloth Slowbotics</td>
            <td>57.27</td>
            <td>115-165</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>12</td>
            <td>Blue</td>
            <td>9920</td>
            <td>Furious Falcons</td>
            <td>100.41</td>
            <td>115-165</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>13</td>
            <td>Red</td>
            <td>8472</td>
            <td>Robotatoes</td>
            <td>24.73</td>
            <td>80-10</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>13</td>
            <td>Red</td>
            <td>6003</td>
            <td>Techno Eagles</td>
            <td>56.62</td>
            <td>80-10</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>13</td>
            <td>Blue</td>
            <td>2885</td>
            <td>Kronos</td>
            <td>31.92</td>
            <td>80-10</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>13</td>
            <td>Blue</td>
            <td>10221</td>
            <td>Robotx</td>
            <td>8.61</td>
            <td>80-10</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>14</td>
            <td>Red</td>
            <td>11350</td>
            <td>Sloth Slowbotics</td>
            <td>57.27</td>
            <td>61-110</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>14</td>
            <td>Red</td>
            <td>11938</td>
            <td>GPA Eagles</td>
            <td>8.81</td>
            <td>61-110</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>14</td>
            <td>Blue</td>
            <td>9920</td>
            <td>Furious Falcons</td>
            <td>100.41</td>
            <td>61-110</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>14</td>
            <td>Blue</td>
            <td>11656</td>
            <td>Neutron Stars</td>
            <td>11.17</td>
            <td>61-110</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>15</td>
            <td>Red</td>
            <td>7542</td>
            <td>OLP Microchicks</td>
            <td>4.62</td>
            <td>50-90</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>15</td>
            <td>Red</td>
            <td>5828</td>
            <td>E.M.P. Chaos</td>
            <td>44.53</td>
            <td>50-90</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>15</td>
            <td>Blue</td>
            <td>9441</td>
            <td>Syndicate</td>
            <td>84.95</td>
            <td>50-90</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>15</td>
            <td>Blue</td>
            <td>6016</td>
            <td>Ironwolves</td>
            <td>27.28</td>
            <td>50-90</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>16</td>
            <td>Red</td>
            <td>6074</td>
            <td>R.A.W.A.L.A</td>
            <td>31.53</td>
            <td>35-210</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>16</td>
            <td>Red</td>
            <td>8906</td>
            <td>ROARbots</td>
            <td>7.16</td>
            <td>35-210</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>16</td>
            <td>Blue</td>
            <td>6137</td>
            <td>RoBowties</td>
            <td>94.12</td>
            <td>35-210</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>16</td>
            <td>Blue</td>
            <td>9892</td>
            <td>EngiNERDs</td>
            <td>79.8</td>
            <td>35-210</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>17</td>
            <td>Red</td>
            <td>9920</td>
            <td>Furious Falcons</td>
            <td>100.41</td>
            <td>97-110</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>17</td>
            <td>Red</td>
            <td>11938</td>
            <td>GPA Eagles</td>
            <td>8.81</td>
            <td>97-110</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>17</td>
            <td>Blue</td>
            <td>9441</td>
            <td>Syndicate</td>
            <td>84.95</td>
            <td>97-110</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>17</td>
            <td>Blue</td>
            <td>2885</td>
            <td>Kronos</td>
            <td>31.92</td>
            <td>97-110</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>18</td>
            <td>Red</td>
            <td>6074</td>
            <td>R.A.W.A.L.A</td>
            <td>31.53</td>
            <td>50-15</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>18</td>
            <td>Red</td>
            <td>6016</td>
            <td>Ironwolves</td>
            <td>27.28</td>
            <td>50-15</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>18</td>
            <td>Blue</td>
            <td>10221</td>
            <td>Robotx</td>
            <td>8.61</td>
            <td>50-15</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>18</td>
            <td>Blue</td>
            <td>8906</td>
            <td>ROARbots</td>
            <td>7.16</td>
            <td>50-15</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>19</td>
            <td>Red</td>
            <td>6137</td>
            <td>RoBowties</td>
            <td>94.12</td>
            <td>195-60</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>19</td>
            <td>Red</td>
            <td>11350</td>
            <td>Sloth Slowbotics</td>
            <td>57.27</td>
            <td>195-60</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>19</td>
            <td>Blue</td>
            <td>8472</td>
            <td>Robotatoes</td>
            <td>24.73</td>
            <td>195-60</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>19</td>
            <td>Blue</td>
            <td>5828</td>
            <td>E.M.P. Chaos</td>
            <td>44.53</td>
            <td>195-60</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>20</td>
            <td>Red</td>
            <td>9892</td>
            <td>EngiNERDs</td>
            <td>79.8</td>
            <td>135-10</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>20</td>
            <td>Red</td>
            <td>6003</td>
            <td>Techno Eagles</td>
            <td>56.62</td>
            <td>135-10</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>20</td>
            <td>Blue</td>
            <td>11656</td>
            <td>Neutron Stars</td>
            <td>11.17</td>
            <td>135-10</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>20</td>
            <td>Blue</td>
            <td>7542</td>
            <td>OLP Microchicks</td>
            <td>4.62</td>
            <td>135-10</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>21</td>
            <td>Red</td>
            <td>8472</td>
            <td>Robotatoes</td>
            <td>24.73</td>
            <td>35-61</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>21</td>
            <td>Red</td>
            <td>8906</td>
            <td>ROARbots</td>
            <td>7.16</td>
            <td>35-61</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>21</td>
            <td>Blue</td>
            <td>5828</td>
            <td>E.M.P. Chaos</td>
            <td>44.53</td>
            <td>35-61</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>21</td>
            <td>Blue</td>
            <td>11938</td>
            <td>GPA Eagles</td>
            <td>8.81</td>
            <td>35-61</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>22</td>
            <td>Red</td>
            <td>11350</td>
            <td>Sloth Slowbotics</td>
            <td>57.27</td>
            <td>55-65</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>22</td>
            <td>Red</td>
            <td>7542</td>
            <td>OLP Microchicks</td>
            <td>4.62</td>
            <td>55-65</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>22</td>
            <td>Blue</td>
            <td>6074</td>
            <td>R.A.W.A.L.A</td>
            <td>31.53</td>
            <td>55-65</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>22</td>
            <td>Blue</td>
            <td>2885</td>
            <td>Kronos</td>
            <td>31.92</td>
            <td>55-65</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>23</td>
            <td>Red</td>
            <td>9441</td>
            <td>Syndicate</td>
            <td>84.95</td>
            <td>125-85</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>23</td>
            <td>Red</td>
            <td>9892</td>
            <td>EngiNERDs</td>
            <td>79.8</td>
            <td>125-85</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>23</td>
            <td>Blue</td>
            <td>6016</td>
            <td>Ironwolves</td>
            <td>27.28</td>
            <td>125-85</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>23</td>
            <td>Blue</td>
            <td>6003</td>
            <td>Techno Eagles</td>
            <td>56.62</td>
            <td>125-85</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>24</td>
            <td>Red</td>
            <td>11656</td>
            <td>Neutron Stars</td>
            <td>11.17</td>
            <td>80-110</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>24</td>
            <td>Red</td>
            <td>6137</td>
            <td>RoBowties</td>
            <td>94.12</td>
            <td>80-110</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>24</td>
            <td>Blue</td>
            <td>10221</td>
            <td>Robotx</td>
            <td>8.61</td>
            <td>80-110</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>24</td>
            <td>Blue</td>
            <td>9920</td>
            <td>Furious Falcons</td>
            <td>100.41</td>
            <td>80-110</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div style="padding-top: 10px;" id="average-scores" class="tab-pane fade">
      <div class="redcircle"></div>
      <span class="key">= Autonomous Period</span>
      <br>
      <div class="bluecircle"></div>
      <span class="key">= Teleop Period</span>
      <br>
      <div class="greencircle"></div>
      <span class="key">= End Game Period</span>

      <table class="table table-striped table-bordered table-responsive" datatable [dtOptions]="dtOptions">
        <thead>
          <tr>
            <th>Team Number</th>
            <th>Team Name</th>
            <th class="red">No Parking</th>
            <th class="red">Partially Center</th>
            <th class="red">Partially Corner</th>
            <th class="red">Fully Center</th>
            <th class="red">Fully Corner</th>
            <th class="red">Center Particles</th>
            <th class="red">Corner Particles</th>
            <th class="red">Cap Ball</th>
            <th class="red">Beacons</th>
            <th class="blue">Center Particles</th>
            <th class="blue">Corner Particles</th>
            <th class="green">Beacons</th>
            <th class="green">Cap Ball on Floor</th>
            <th class="green">Cap Ball Raised</th>
            <th class="green">Cap Ball Above Center</th>
            <th class="green">Cap Ball in Center</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>10221</td>
            <td>Robotx</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>6137</td>
            <td>RoBowties</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>11656</td>
            <td>Neutron Stars</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>9920</td>
            <td>Furious Falcons</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>6074</td>
            <td>R.A.W.A.L.A</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>7542</td>
            <td>OLP Microchicks</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>11350</td>
            <td>Sloth Slowbotics</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>2885</td>
            <td>Kronos</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>6016</td>
            <td>Ironwolves</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>9892</td>
            <td>EngiNERDs</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>9441</td>
            <td>Syndicate</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>6003</td>
            <td>Techno Eagles</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>5828</td>
            <td>E.M.P. Chaos</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>8906</td>
            <td>ROARbots</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>8472</td>
            <td>Robotatoes</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>11938</td>
            <td>GPA Eagles</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <p>*Offensive Power Rating. An estimate of the number of points the team scores overall, on average. This number represents
    the offensive utility of a team. It is not always accurate.</p>
</div>
