<div class="article-title">
  <div class="container">
    <h1>TETRIX vs. VEXPro: The Facts
    </h1>
    <div class="lead article-information"> <img class="article-author-img rounded-circle" src="../../assets/camerondemille.jpg"
        alt=""> Cameron Mowery | September 8th, 2018</div>
    <img class="img-fluid article-img" src="../../assets/notebook.png" alt="">
  </div>
</div>
<div class="container">
  <div class="post-content">
    <h2>Deciding between parts sets is hard for new teams. We’ll make it easier.</h2>
    <p>When it comes time for a rookie team to finally begin designing that first robot- or for more experienced team
      to replace their worn-out axles and gears, many factors play a role in what they end up buying. Cost, durability,
      and ease of use are some of the big ones. With so many different options to create a robot in FTC, there’s no
      clear cut winner. Instead, each has their own advantages, and often some of the best robots on the field use a
      combination of these parts to maximize their robot’s efficiency.</p>

    <h2>VEXPro, An Overview:</h2>
    <p>VEXPro is a line of VEX parts designed for both FTC and FRC teams. I’ll be going over the FTC stuff here, but
      more advanced teams can use the FRC parts for intricate custom parts- (basics about that here). The general
      consensus on these parts is that the fit together and form a more cohesive-looking robot than a Tetrix kit can
      produce, but they don’t work well with non-VEX parts, which is why VEXPro isn’t too common to see on the field.
      Despite that, there are quite a few advantages to using VEXPro, which in my opinion, outweigh that;</p>
    <ul>
      <li> <strong>Easy to use, compatible gearboxes:</strong> The <a href="https://www.vexrobotics.com/versaplanetary-ftc.html">VersaPlanetary
          gearbox</a> can usually be found for less than ten dollars,
        a bargain considering their quality. They work well with the Neverest motors we see on almost every competition
        robot. </li>
      <li>Price: Complete aluminum structural kits cost $80, compared to the $120 dollar Tetrix basic structure kits.
      </li>
      <li>More options for structure: VEX structure pieces come in three varieties, each with a different metal
        composition and intended use. These include the robust VersaFrame Stock, EDR C Channels, and EDR Angles. </li>
      <li>The metal parts last longer: The <a href="https://www.vexrobotics.com/vexpro/ftc/view-all/versaframestock-ftc.html">VersaFrame
          Stock</a> channels are made with aluminum 5052, a more resilient
        alloy than the 7005 aluminum Tetrix parts are made from. This means that it bends less, and suffers less
        corrosion as seasons go by. <a href="https://www.vexrobotics.com/vexpro/ftc/structure/angles.html">VEX EDR
          Angles</a> are made out of zinc-coated steel, which while heavier than Tetrix
        channels, makes a very nice bend-resistant structure reinforcement. <a href="https://www.vexrobotics.com/vexpro/ftc/view-all/versaframegussetsandmounts.html">VEX
          VersaFrame Gussets and Mounts</a>, made of
        thick 5052 aluminum also make great additions to robots needing additional joint strength. </li>
    </ul>

    <h2>A look at the backbone of FTC: TETRIX</h2>

    <p>At any League Meet, Regional, or even World Championship, Tetrix parts provide the backbone for more robots than
      any other comprehensive parts set. While most suited for beginning teams, a single set of Tetrix parts is usually
      enough to cover 90% of building a (basic) competition ready robot. For <a href="https://www.pitsco.com/TETRIX-FTC-Competition-Set/&TXredir=1">$700</a>,
      a team can be provided with
      electronics, motors, structure pieces, and wheels. No other single box of parts comes close to being so
      comprehensive and ready for FTC competition.</p>

    <h2>TETRIX Highlights:</h2>

    <ul>
      <li><strong>More emphasis on traditional building materials:</strong> Tetrix building kits involve more nuts and
        bolts than VEX
        sets do, which creates a more straightforward building experience, and makes using third-party parts easier.
      </li>
      <li><strong>Gears and sprockets tend to be much more durable</strong>, as they are made of solid metal alloy rather than the
        plastic other parts companies use.</li>
        <li></li>
    </ul>

    <div class="opt-in" action="">
      <p>Sign up for our mailing list to get emailed more FTC resources and tips</p>
      <form class="newsletter-signup" action="">
        <input type="text" class="" placeholder="Your email address" aria-label="Your email address">
        <button class="cta-button" type="submit">Subscribe</button>
      </form>
    </div>
  </div>
</div>
