.post-content p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 23px;
  color: #4a4541;
}

.post-content li {
  font-size: 20px;
  line-height: 1.5;
  color: #4a4541;
}

.quote {
  border-left: 3px solid #222;
  margin: 35px 0;
  padding: 5px 0 5px 18px;
  font-style: italic;
  font-size: 20px;
  line-height: 1.5;
}

.post-content {
  max-width: 900px;
  margin: 0 auto;
  padding: 0px 100px 80px 120px;
}

@media (max-width: 900px) {
  .post-content {
    padding: 51px 25px 50px 25px;
  }
}

.post-content h2 {
  font-weight: 700;
  margin: 1.8em 0 .8em;
  color: #4a4541;
}

.article-title {
  font-size: 3rem;
  text-align: center;
  background-color: #60D72E;
  color: white;
  margin-top: -30px;
}

.article-title {
  margin-top: -30px;
  text-align: center;

}

.article-img {
  max-width: 180px;
  margin-bottom: 30px;
}

.article-title h1 {
  margin-bottom: 20px;
}

.article-title {
  padding: 60px 0px;
}

.article a {
  color: #ffffff;
}

.article-text {
  margin-bottom: 20px;
}

.article-author-img {
  max-width: 35px;
}

.article-information {
  margin-bottom: 15px;
}

.opt-in {
  padding: 20px 25px;
  border-top: 4px solid #fa9235;
  background-color: #faf5f0;
  margin-top: 30px;
}

.newsletter-signup input {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  margin: 0;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 0 15px;
  color: #4a4541;
  height: 38px;
  width: 70%;
}

.newsletter-signup p {
  line-height: 26px;
  font-size: 20px
}

.newsletter-signup {
  display: flex;
  justify-content: center;
}
