<div class="container">
  <div class="card">
    <h3>California State Games</h3>
    <table class="table events table-striped" style="margin-top: 10px;">
      <thead>
        <tr>
          <th>Event</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <a routerLink="/events/relic-recovery/1718-CAL-GAMES">California State Games</a>
            <br>
            <span class="location">Mater Dei Catholic High School</span>
          </td>
          <td style="color: black">July 14, 2018</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card">
    <h3>Regional Championship</h3>
    <table class="table events table-striped" style="margin-top: 10px;">
      <thead>
        <tr>
          <th>Event</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <a routerLink="/events/relic-recovery/1718-CASD-CMP">Regional Championship</a>
            <br>
            <span class="location">San Diego Jewish Academy</span>
          </td>
          <td style="color: black">February 25, 2018</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card">
    <h3>League Championships</h3>
    <table class="table events table-striped" style="margin-top: 10px;">
      <thead>
        <tr>
          <th>Event</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <a routerLink="/events/relic-recovery/1718-CASD-TLC">Turing League Championship</a>
            <br>
            <span class="location">SET High</span>
          </td>
          <td style="color: black">February 10, 2018</td>
        </tr>
        <tr>
          <td>
            <a routerLink="/events/relic-recovery/1718-CASD-DESC">Descartes League Championship</a>
            <br>
            <span class="location">The Grauer School</span>
          </td>
          <td style="color: black">February 10, 2018</td>
        </tr>
        <tr>
          <td>
            <a routerLink="/events/relic-recovery/1718-CASD-GALC">Gauss League Championship</a>
            <br>
            <span class="location">Tri City Christian School</span>
          </td>
          <td style="color: black">February 10, 2018</td>
        </tr>
        <tr>
          <td>
            <a routerLink="/events/relic-recovery/1718-CASD-ELLC">Euclid League Championship</a>
            <br>
            <span class="location">San Diego Jewish Academy</span>
          </td>
          <td style="color: black">February 11, 2018</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card">
    <h3>Week 3 Interleague Meets</h3>
    <table class="table events table-striped" style="margin-top: 10px;">
      <thead>
        <tr>
          <th>Event</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <a routerLink="/events/relic-recovery/1718-CASD-SCHS3">Sage Creek High School</a>
            <br>
            <span class="location">Sage Creek High School</span>
          </td>
          <td style="color: black">January 27, 2018</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card">
    <h3>Week 2 Interleague Meets</h3>
    <table class="table events table-striped" style="margin-top: 10px;">
      <thead>
        <tr>
          <th>Event</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <a routerLink="/events/relic-recovery/1718-CASD-SCHS2">Sage Creek High School</a>
            <br>
            <span class="location">Sage Creek High School</span>
          </td>
          <td style="color: black">January 13, 2018</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
