.location {
  color: black;
  font-size: 12px;
}

h3, h4{
  text-align: center;
}

hr{
  max-width: 600px;
}

h3 {
  margin-top: 15px;
}

table {
  margin-bottom: 0px;
}

.card {
  margin-bottom: 60px;
}
