<div class="container">
  <h1 style="text-align: left;">Relic Recovery Events</h1>
  <div class="dropdown">
    <button style="padding-left: 12px; padding-right: 12px;" class="btn btn-lg btn-secondary dropdown-toggle" type="button" id="dropdownMenu1"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Relic Recovery
      <span class="caret"></span>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <a class="dropdown-item" routerLink="/events/velocity-vortex">Velocity Vortex</a>
      <a class="dropdown-item" routerLink="/events/relic-recovery">Relic Recovery</a>
    </div>
  </div>
  <a routerLink="/events/relic-recovery/1718-NCAL-RWC">Test Event for Michael</a>
  <h3>Week 2 Interleague Meets</h3>
  <table class="table events table-striped" style="margin-top: 10px;">
    <thead>
      <tr>
        <th>Event</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <a routerLink="/events/relic-recovery/">Sage Creek High School</a>
          <br>
          <span class="location">Sage Creek High School</span>
        </td>
        <td style="color: black">January 13, 2018</td>
      </tr>
      <tr>
        <td>
          <a routerLink="/events/relic-recovery/">La Jolla Country Day School</a>
          <br>
          <span class="location">La Jolla Country Day School</span>
        </td>
        <td style="color: black">January 13, 2018</td>
      </tr>
      <tr>
        <td>
          <a routerLink="/events/relic-recovery/">R. Roger Rowe School</a>
          <br>
          <span class="location">R. Roger Rowe School</span>
        </td>
        <td style="color: black">January 13, 2018</td>
      </tr>
      <tr>
        <td>
          <a routerLink="/events/relic-recovery/">Mater Dei Catholic High School</a>
          <br>
          <span class="location">Mater Dei Catholic High School</span>
        </td>
        <td style="color: black">January 14, 2018</td>
      </tr>
    </tbody>
  </table>
  <h3>Week 1 League Meets </h3>
  <table class="table events table-striped" style="margin-top: 10px;">
    <thead>
      <tr>
        <th>Event</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <a routerLink="/events/relic-recovery/1718-CASD-TLM1">Turing League Meet #1</a>
          <br>
          <span class="location">Francis Parker School</span>
        </td>
        <td style="color: black">December 9, 2017</td>
      </tr>
      <tr>
        <td>
          <a routerLink="/events/relic-recovery/1718-CASD-DLM1">Descartes League Meet #1</a>
          <br>
          <span class="location">Francis Parker School</span>
        </td>
        <td style="color: black">December 9, 2017</td>
      </tr>
      <tr>
        <td>
          <a routerLink="/events/relic-recovery/1718-CASD-GLM1">Gauss League Meet #1</a>
          <br>
          <span class="location">Roger Rowe School</span>
        </td>
        <td style="color: black">December 9, 2017</td>
      </tr>
      <tr>
        <td>
          <a routerLink="/events/relic-recovery/1718-CASD-ELM1">Euclid League Meet #1</a>
          <br>
          <span class="location">Escondido Charter High School</span>
        </td>
        <td style="color: black">December 10, 2017</td>
      </tr>
    </tbody>
  </table>
  <a routerLink="/events/relic-recovery/1718-CASD-W1"><h4>Week 1 OPR Rankings</h4></a>
</div>
