hr {
  position: relative;
  display: block;
  height: 1px;
  max-width: 600px;
  border: 0;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: rgb(33, 37, 41);
  padding: 0;
}
body {
  padding-top: 60px;
}
h1 {
  text-align: center;
  width: 100%;
  font-size: 2rem;
  color: rgb(33, 37, 41);
}
th {
  text-align: center;
  padding: 10px 10px;
  font-size: 0.9375rem;
}
td {
  text-align: center;
  padding: 5px 5px;
  font-size: 0.9375rem;
}
html {
  position: relative;
}
html,
body {
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
}
.table-responsive {
  overflow-x: auto;
}

.font-weight-bold {
  font-weight: 700
}

table.dataTable thead th,
table.dataTable thead td {
  border-bottom: 1px solid #111;
  font-weight: 500;
  padding: 5px 4px;
}

table {
  color: rgb(33, 37, 41);
  border: 1px solid #ddd;
  margin-bottom: 0px;
}

thead {
  background-color: #faa86f;
  color: white;
}

.red {
  background-color: #ec644b;
  color: white;
}
.blue {
  background-color: #4183d7;
  color: white;
}
.green {
  background-color: #26a65b;
  color: white;
}

.red-light {
  background-color: rgba(236, 100, 75, 0.15);
}

.blue-light {
  background-color: rgba(65, 131, 215, 0.15);
}

.green-light {
  background-color: rgba(38,166,91, 0.15)
}

.table {
  border: none;
}

