<div class="container-fluid" style="margin-top: 3000px; margin-bottom: 3000px;">

  <div class="text-center">
    <i *ngIf="loading" class="fas fa-circle-notch fa-spin fa-5x"></i>
  </div>

  <h1 class="display-1" *ngIf="data && !loading">Carlsbad Educational Foundation Showcase </h1>
  <hr *ngIf="data && !loading">

  <div class="alert alert-danger" role="alert" *ngIf="error && !loading">
    Error: {{error}}
  </div>

  <!-- <h1>Round 3 scores will be shown at juicydata.info after the awards ceremony</h1> -->

  <div class="card" *ngIf="!error && !loading">
    <table class="table table-responsive table-striped" *ngIf="data">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Team Name</th>
          <th class="red">Round 1</th>
          <th class="blue">Round 2</th>
          <th class="green">Round 3</th>
          <th>Best Score</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let team of data; let i = index">
          <tr *ngIf="team._id !='lastUpdated' && ((!(showFirst20Teams) && i < 20) || showFirst20Teams && i > 20)">
            <td>{{team.rank}}</td>
            <td>{{team._id}}</td>
            <td *ngIf="team.scores[0] || team.scores[0]===0" [ngClass]="{'font-weight-bold':team.scores[0] === team.bestScore}" class="red-light">{{team.scores[0]}}</td>
            <td *ngIf="team.scores[1] || team.scores[1]===0" [ngClass]="{'font-weight-bold':team.scores[1] === team.bestScore}" class="blue-light">{{team.scores[1]}}</td>
            <td *ngIf="team.scores[2] || team.scores[2]===0" [ngClass]="{'font-weight-bold':team.scores[2] === team.bestScore}" class="green-light">{{team.scores[2]}}</td>
            <td *ngIf="!team.scores[0] && team.scores[0] !=0" class="red-light"></td>
            <td *ngIf="!team.scores[1] && team.scores[1] !=0" class="blue-light"></td>
            <td *ngIf="!team.scores[2] && team.scores[2] !=0" class="green-light"></td>
            <td *ngIf="team.bestScore === -999999"></td>
            <td *ngIf="team.bestScore !== -999999" class="font-weight-bold">{{team.bestScore}}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
