.title {
  font-weight: 600;
  font-size: 32px;
  color: #303133;
  margin: 0px;
}

.sub-title {
  font-weight: 500;
  font-size: 18px;
  text-align: left;
  color: #4a4541;
  margin-top: 15px;
}

.section-container {
  padding: 30px;
}

.section-container {
  padding: 30px;
}

.league-registration-box hr {
  margin: 0px;
  border-top: 2px solid #eeecee;
}

.registration-form {
  background-color: #f2f2f2;
  color: #4a4541;
  border: 0;
}

.circle-step {
  border-radius: 50% !important;
  border: 2px solid #fa9235;
  padding: 4px 11px;
  color: #fa9235;
  margin-right: 10px;
}

.section-title {
  font-weight: 600;
  font-size: 1.25rem;
  text-align: left;
  color: #4a4541;
  line-height: 28px;
  margin-bottom: 15px;
}

.league-registration-box {
  /* padding: 10px 18px 20px 24px; */
  box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1),
    0 15px 35px rgba(50, 50, 93, 0.15), 0 5px 15px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-top: 4px solid #fa9235;
}

.meet-options-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.meet-option {
  flex: 1;
  height: 230px;
}

.select-button {
  position: absolute;
  bottom: 0px;
}

.test {
  margin-bottom: -500px;
  margin-top: -30px;
  height: 60vh;
  background-color: #ffa85a;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%23fa9235' fill-opacity='0.4' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
}

.optional-label {
  font-style: italic;
}

.event-select-button {
  background-color: #fff;
  border-color: #ffa85a !important;
  color: #ffa85a !important;
  display: block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  cursor: pointer;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.event-select-button:hover,
.event-select-button:active,
.event-select-button:focus,
.event-select-button-active {
  background-color: #ffa85a;
  border-color: #ffa85a !important;
  color: #fff !important;
  display: block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  cursor: pointer;
  margin-top: 10px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-left: auto;
  margin-right: auto;
}

.section-container label {
  font-weight: 400;
  color: #4a4541;
}

.event-table th {
  font-weight: 500;
  color: #4a4541;
}

.event-table {
  margin-top: 30px;
}

.event-table td {
  font-weight: 400;
  color: #4a4541;
}

.event-table,
.event-table thead th {
  margin-bottom: 0rem;
  text-align: center;
}

.event-table tbody tr th {
  padding-left: 20px;
}

.submit-button {
  font-size: 18px;
  padding: 12px;
  color: #ffe6d0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.cta-button:hover {
  background-color: #08ae1c;
}

.league-registration-page,
.no-jwt,
.after-registration-page {
  background-color: #f7f7f7;
  margin-top: -30px;
  padding-top: 30px;
  margin-bottom: -40px;
  padding-bottom: 40px;
  min-height: 95vh;
}

.no-jwt h1 {
  text-align: center;
}

.opt-in {
  padding: 20px 25px;
  background-color: #faf5f0;
  margin-top: 30px;
  text-align: center;
}

.newsletter-signup input {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  margin: 0;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 0 15px;
  color: #4a4541;
  height: 38px;
  width: 70%;
  margin: 0 auto;
}

.meet-confirm-card {
  margin-bottom: 20px;
}

.meet-confirm-card,
.meet-confirm-card-about {
  box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1),
    0 15px 35px rgba(50, 50, 93, 0.15), 0 5px 15px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 20px;
  border-top: 4px solid #fa9235;
}

@media (min-width: 992px) {
  .meet-confirm-card-about {
    padding: 20px 100px 80px 120px;
  }
}

@media (max-width: 992px) {
  .meet-confirm-card-about {
    padding: 10px 50px 40px 60px;
  }
}

.juicy-data-image {
  max-width: 300px;
  margin-bottom: 20px;
  vertical-align: middle;
}

.after-registration-page h2 {
  text-align: center;
  margin-bottom: 20px;
}

.table-seperator {
  background-color: #f0f0f0;
  border-top: 1px solid #e9ecef;
  width: 100%;
}

.table-seperator td {
  font-weight: 500 !important;
  letter-spacing: 0.7px;
  text-align: left;
  padding-left: 20px;
}
