<div class="content">
  <div class="container">
    <div class="card">
      <div class="card-block">
        <h1>Sign Up</h1>
        <div class="alert alert-danger alert-dismissible fade show" *ngIf="error" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{error}}
        </div>
        <form #signinForm="ngForm">
          <div class="row">
            <div class="col-6">
              <input class="form-control" type="text" [(ngModel)]="firstName" placeholder="first name" name="firstName" required #fn="ngModel">
              <div [hidden]="fn.valid || fn.pristine" class="alert alert-danger">First name is required</div>
            </div>
            <div class="col-6">
              <input class="form-control" type="text" [(ngModel)]="lastName" placeholder="last name" name="lastName" required #ln="ngModel">
              <div [hidden]="ln.valid || ln.pristine" class="alert alert-danger">Last name is required</div>
            </div>
          </div>
          <input class="form-control" type="text" [(ngModel)]="email" placeholder="email" name="email" required #e="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
          <div [hidden]="e.valid || e.pristine" class="alert alert-danger">Email is required</div>
          <input class="form-control" type="password" [(ngModel)]="password" placeholder="password" name="password" required #p="ngModel">
          <div [hidden]="p.valid || p.pristine" class="alert alert-danger">Password is required</div>
          <input class="form-control" type="password" [(ngModel)]="confirmPassword" placeholder="confirm password" name="confirmPassword"
            required #cp="ngModel">
          <div [hidden]="cp.valid || cp.pristine" class="alert alert-danger">Confirm password is required</div>
          <button [disabled]="!signinForm.form.valid || buttonText == ''" class="btn btn-primary btn-block" (click)="signup()">
            <i *ngIf="buttonText == ''" class="fas fa-circle-notch fa-spin"></i>
            {{buttonText}}
          </button>
        </form>
        <div class="options">
          <a routerLink="/sign-in">Log In</a>
        </div>
      </div>
    </div>
  </div>
</div>
