hr {
  position: relative;
  display: block;
  height: 1px;
  max-width: 600px;
  border: 0;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #ffa46b;
  padding: 0;
}

h1 {
  text-align: center;
  width: 100%;
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
  font-weight: bold;
}

p {
  margin-bottom: 0.5rem;
}

table {
  color: black;
  text-align: center;
  margin-bottom: 0px;
}

.table thead th {
  text-align: center;
}

.averages {
  color: black;
  margin-bottom: 20px;
}

.red {
  color: #ec644b;
}

.blue {
  color: #4183d7;
}

.green {
  color: #26a65b;
}

.red-alliance {
  background-color: #ec644b;
  color: white;
}

.blue-alliance {
  background-color: #4183d7;
  color: white;
}

.red-alliance-teams {
  background-color: rgba(236, 100, 75, 0.15);
}

.blue-alliance-teams {
  background-color: rgba(65, 131, 215, 0.15);
}

.red-alliance-teams-winner {
  background-color: rgba(236, 100, 75, 0.25);
}

.blue-alliance-teams-winner {
  background-color: rgba(65, 131, 215, 0.25);
}



