.featured-article {
  background-color: #3252A8;
  margin-top: -30px;
  text-align: center;

}

.featured-article img {
  max-width: 180px;
  margin-bottom: 30px;
}

.featured-article h2 {
  margin-bottom: 30px;
}

.featured-article-title {
  padding: 60px 0px;
}

.featured-article a {
  color: #ffffff;
}

.featured-article-text {
  margin-bottom: 20px;
}
/* .featured-article {
  background-color: white;
  margin-top: -30px;
  color: #454646;
  border-top: 4px solid #FA9235
}

.featured-article-title {
  font-size: 3.5rem;
  margin-bottom: 30px;
  color: #4a4541;
  font-weight: 700
}

.featured-article-picture {
  width: 100%;
  height: 100%;
}

.featured-article-description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding: 30px;
  max-height: 450px;
}

.read-more-button {
  width: 120px;
}

.category {
  font-size: 0.875rem;
  margin-bottom: 15px;
}

.blog-post-details {
  padding: 20px;
}

.blog-post{
  height: 430px;
}

a {
  text-decoration-color: #454646;
} */
