<!-- <div class="featured-article">
  <div class="row no-gutters">
    <div class="col-6">
      <img src="/assets/notebook.jpg" alt="" class="featured-article-picture img-fluid">
    </div>
    <div class="col-6">
      <div class="featured-article-description">
        <h4 class="category lead">FEATURED ARTICLE &#9679; Engineering Notebook
        </h4>
        <a href="/blog/7-tips-to-improve-your-ftc-teams-engineering-notebook">
          <h2 class="featured-article-title">7 Tips to Improve Your FTC Team’s Engineering Notebook</h2>
        </a>
        <a href="/blog/7-tips-to-improve-your-ftc-teams-engineering-notebook" class="btn btn-primary read-more-button" role="button">READ MORE</a>
      </div>
    </div>
  </div>
</div>
-->


<div class="featured-article">
  <div class="container">
    <div class="featured-article-title">
      <a href="/blog/6-tips-to-improve-your-ftc-teams-engineering-notebook">
        <div class="lead featured-article-text">FEATURED ARTICLE</div>
        <h2>6 tips to improve your FTC Team's Engineering Notebook</h2>
        <img class="img-fluid" src="../../assets/notebook.png" alt="">
        <div class="read-more-button">
          <button class="cta-button" role="button">READ MORE</button>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-4" *ngFor="let post of posts">
      <div class="card blog-post">
        <div class="blog-post-picture">
          <img src="/assets/test.png" class="img-fluid" alt="">
        </div>
        <div class="blog-post-details">
          <h4 class="category lead"><a href="">CATEGORY</a></h4>
          <h2>How to Keep Your Batteries Healthy</h2>
        </div>
      </div>
    </div>
  </div>
</div>
