.featured-article {
  background-color: #3252A8;
  margin-top: -30px;
  text-align: center;

}

.featured-article img {
  max-width: 180px;
  margin-bottom: 30px;
}

.featured-article h2 {
  margin-bottom: 30px;
}

.featured-article-title {
  padding: 60px 0px;
}

.featured-article a {
  color: #ffffff;
}

.featured-article-text {
  margin-bottom: 20px;
}
