<header>
  <div class="header-wrapper container">
    <img class="header-logo" src="/assets/logo-shadow.png" alt="">
    <h1 class="header-main-text">Data is juicy</h1>
    <h2 class="header-sub-text">Live event results and statistics</h2>
    <a class="header-button" routerLink="/events">Go to events</a>
  </div>
</header>
<!-- <div class="container">
  <div class="row no-gutters" style="margin-top: 20px;">
    <div class="col-4 text-center">
      <i class="fas fa-chart-pie fa-3x"></i>
      <h3>Statstics</h3>
      <p>Match results, OPR per game element, and CCWM</p>
    </div>
    <div class="col-4 text-center">
      <i class="fas fa-desktop fa-3x"></i>
      <h3>Live Data</h3>
      <p>We get data straight from the scoring system thanks to The Orange Alliance.</p>
    </div>
    <div class="col-4 text-center">
      <i class="far fa-chart-bar fa-3x"></i>
      <h3>Predictions</h3>
      <p>View match potential alliance scores through the event match history. Pick theorical alliances in the alliance calculator
        to see predicted scores. </p>
    </div>
  </div>
</div> -->
