header {
  height: 100vh;
  background-color: #ffd47f;
  margin-top: -30px;
  margin-bottom: -40px;
}

.header-wrapper {
  position: relative;
  text-align: center;
  top: 40%;
  transform: translateY(-40%);
}

i {
  margin-bottom: 10px;
}

.header-logo {
  height: 120px;
}

.header-button {
  color: #fff;
  background-color: #fa9235;
  border: 2px solid #fa9235;
  font-size: 16px;
  font-weight: 400;
  padding: 10px 35px;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.08);

}

.header-button:hover {
  background-color: #E06F0B;
  border: 2px solid #E06F0B;
}

.header-main-text {
  text-align: center;
  color: white;
  font-size: 60px;
  text-shadow: 0px 2px 3px rgba(0,0,0,0.4);
  font-weight: 300;
}

.header-sub-text {
  text-align: center;
  color: white;
  font-size: 40px;
  text-shadow: 0px 2px 3px rgba(0,0,0,0.4);
  font-weight: 300;
  margin-bottom: 30px;
}
