<header>
  <div class="header-wrapper container">
    <h1>Resources and tools to help you to be prepared for your next FTC competition</h1>
    <p>Subscribe to have FTC robotics tips and resources sent to your inbox. </p>
    <!-- <a class="header-button" routerLink="/events">Click here to go to events</a> -->
    <form class="newsletter-signup">
      <input [(ngModel)]="email" type="text" class="" placeholder="Your email address" aria-label="Your email address" >
      <button class="cta-button" (click)="subscribe()" type="submit">Subscribe</button>
    </form>
  </div>
</header>
<!-- <div class="features-box">
  <div class="container">
    <div class="row features">
      <div class="col-md-4 text-center ">
        <div class="feature">
          <span class="fa-stack fa-2x text-center">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-clipboard-list fa-stack-1x fa-inverse"></i>
          </span>
          <h3><span class="font-weight-bold">Automatic scouting</span> that allows you to focus and improve on your own
            team's performance during the competition</h3>
        </div>
      </div>

      <div class="col-md-4 text-center">
        <div class="feature">
          <span class="fa-stack fa-2x">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-users fa-stack-1x fa-inverse"></i>
          </span>
          <h3>Be apart of a <span class="font-weight-bold">community</span> of teams helping teams</h3>
        </div>
      </div>
      <div class="col-md-4 text-center">
          <div class="feature">
        <span class="fa-stack fa-2x">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-lightbulb fa-stack-1x fa-inverse"></i>
        </span>
        <h3>Learn tips and tricks through <span class="font-weight-bold">FTC related blog posts</span> written by FTC teams for FTC teams</h3>
        </div>
      </div>
    </div>
  </div>
</div> -->
