<header>
  <div class="header-wrapper container">
    <h1>Resources and tools for you to be prepared for your next FTC competition</h1>
    <p>Subscribe to have FTC robotics tips and resources sent to your inbox.  </p>
    <!-- <a class="header-button" routerLink="/events">Click here to go to events</a> -->
    <form class="newsletter-signup" action="">
      <input type="text" class="" placeholder="Your email address" aria-label="Your email address">
      <button class="cta-button" type="submit">Subscribe</button>
    </form>
  </div>
</header>
<div class="features-box">
  <div class="container">
    <h2>What makes our data juicy?</h2>
    <hr>
    <div class="row features">
      <div class="col-md-4 text-center feature">
        <span class="fa-stack fa-2x text-center">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-chart-pie fa-stack-1x fa-inverse"></i>
        </span>
        <h3>OPR</h3>
        <p class="lead">Compare teams and their performance with offensive power rating </p>
      </div>
      <div class="col-md-4 text-center feature">
        <span class="fa-stack fa-2x">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-desktop fa-stack-1x fa-inverse"></i>
        </span>
        <h3>Live Data</h3>
        <p class="lead">Thanks to The Orange Alliance, we get our data straight from the scoring system right after matches are scored</p>
      </div>
      <div class="col-md-4 text-center feature">
        <span class="fa-stack fa-2x">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-chart-bar fa-stack-1x fa-inverse"></i>
        </span>
        <h3>Predictions</h3>
        <p class="lead">Pick theoretical alliances in the alliance calculator to see predicted scores. </p>
      </div>
    </div>
  </div>
</div>
