.opt-in {
  padding: 20px 25px;
  border-top: 4px solid #fa9235;
  background-color: #faf5f0;
  margin-top: 30px;
}

.newsletter-signup input {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  margin: 0;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 0 15px;
  color: #4a4541;
  height: 38px;
  width: 70%;
}

.opt-in p {
  line-height: 26px;
  font-size: 18px;
  text-align: center;
}

.newsletter-signup {
  display: flex;
  justify-content: center;
}
